<div class="sub_wrap">
  <div class="container">

    <div class="row">
      <h2 class="lable_h">Category</h2>
    </div>

    <div class="row mrgn30px">
      <div *ngIf="httpLoader" class="httpSpinner"></div>

      <div class="col-lg-4 col-md-4 div_border">
        <div class="free_space"></div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" [(ngModel)]="objCategory.txtCategory" name="txtCategory" maxlength="40" class="form-control"
              placeholder="Category Name">
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Description</label>
            <input type="text" [(ngModel)]="objCategory.txtDesc" name="txtDesc" maxlength="100" class="form-control"
              placeholder="Description">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4 col-sm-offset-6 col-md-offset-0 col-lg-offset-0 col-xs-offset-0">
          <div class="form-group is_active is_active_sm">
            <input type="checkbox" [(ngModel)]="objCategory.chkkBox" name="chkkBox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Is Active</label>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" value={{btnTextsave}} class="btn comn_btn" (click)="SaveItems();">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" value={{btnTextclear}} class="btn comn_btn_cls" (click)="resetObj();">

            <!-- <input *ngIf="displayBtn==true" type="button" value="Save" class="btn btn-primary" (click)="SaveItems();">
              <input *ngIf="displayBtn==false" type="button" value="Update" class="btn btn-primary" (click)="editItems();">
              <input type="button" value="Cancel" class="btn btn-primary" (click)="resetObj();"> -->

          </div>
        </div>
      </div>



      <div class=" col-lg-8 col-md-8 col-sm-12">
        <div class="col-md-4 col-sm-6 pull-right" style="padding: 0;">
          <div class="form-group">
            <div class="input-group">
              <input type="text" [(ngModel)]="ItemSearch" placeholder="search" class="form-control ">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="mrgn15px">
          <div class="table-responsive cus_master_tb">
            <!-- Bind the data into table -->
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-md-4">CategoryName</th>
                  <th class="col-md-6">Description</th>
                  <th class="col-md-1 text-center">IsActive</th>
                  <th class="col-md-1 text-center">Options</th>
                </tr>
              </thead>
              <tbody>
                <!-- Search Purpose -->
                <tr *ngFor="let item of dtCategory | filter:ItemSearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
                  <td class="col-md-4">{{item.CategoryName}}</td>
                  <td class="col-md-6">{{item.Description}}</td>
                  <td class="col-md-1 text-center">{{item.IsActiveStatus}}</td>

                  <td class="col-md-1 text-center">
                    <span class="pull-left" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" (click)="editCat(item);"
                        title="Edit"></i></span>
                    <span class="pull-right" style="cursor: pointer; color: red;"><i class="fa fa-ban" aria-hidden="true"
                        (click)="delObj(item)" title="In Active"></i></span>
                  </td>


                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                      <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>