
.form-control{ border-radius: 0 !important;  }
label{ float: left; padding-left: 5px;}
.submit_btn{
    width: 25%;
    margin-left: 10%;
    background: rgb(48, 50, 138);
    color: #fff;
    border: rgb(48, 50, 138) solid 1px;
    padding: 5px;
}
.signin_signout a{ margin-left: 5px !important;}

@media (max-width: 1024px){
    .forgot_p_input{ width: 60% !important;}
    .submit_btn{ width: 25% !important; }
}

@media (max-width: 480px){
    .submit_btn{ width: 50% !important; margin: 10px auto;}
    .forgot_p_input{ width: 100% !important;}
   
}
