<div *ngIf="httpLoader" class="httpSpinner"></div>
<form class="form-inline">
  <div class="form-group">
    <label>Register Mobile No:</label>
    
    <input id="txtmobile" class="form-control forgot_p_input" [(ngModel)]="txtmobile" maxlength="12" name="last_name" size="20" type="text"
      required autocomplete="off">
      <input type="button" class="submit_btn" value="Submit" (click)="ForgotPassword()" />

  </div>

</form>