/* .raphael-group-423-creditgroup {
    display:none !important; 
} */

.raphael-group-24-creditgroup{ display:none !important; }

.border_left{ border-left: 1px solid #ddd; }

.chart_width{ width: 100% !important }

label{ font-size: 20px; margin-right: 20px;}
.form-inline select { width: 300px; border-radius: 0;}

.mapStyles {
    width:100%;
    height: 100vh;
    position: relative;
    z-index: 99;
    /* box-shadow: 0px 15px 30px -15px #111;   */
}
.route_map{ width:100%;height: 350px;
    border: #ccc solid 1px; }

.route_map_border {  border: #ccc solid 1px; padding: 10px;}

.delivery_summery_chart{ width: 100%; margin-left: auto; margin-right: auto; display: table}
