<div class="">
  <div class="container" style="font-family:calibri;font-size:12px;">

    <!-- <div class="row">
      <h2 class="lable_h">Agent wise Register</h2>
    </div> -->
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="DeliverySummery" class="delivery_summery_chart" *ngIf="dtDeliverySummary!=undefined && dtDeliverySummary.data!==undefined">
        
          <fusioncharts type="pie3d"[dataFormat]="dataFormat"[dataSource]="dtDeliverySummary" width="100%">
          </fusioncharts>
        
        </div>
      </div>
      <!-- Agent Ratting -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border_left">
        <div id="TopAgentRatting" class="delivery_summery_chart" *ngIf="dtAgentRatting!=undefined && dtAgentRatting.data!==undefined">
          <fusioncharts type="column3d" [dataFormat]="dataFormat" [dataSource]="dtAgentRatting" width="100%">
          </fusioncharts>
        </div>
      </div>
    </div>
    <br>

    <hr>

    <br>
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="CityWiseBookings" class="delivery_summery_cart" *ngIf="dtCityWiseBookings!=undefined && dtCityWiseBookings.data!==undefined">

          <fusioncharts type="column3d" [dataFormat]="dataFormat" [dataSource]="dtCityWiseBookings" width="100%">
          </fusioncharts>

        </div>

      </div>


      <!-- Weekely Income/Payments/Profits -->

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border_left">
       <form class="form-inline">
         <div class="form-group">
        <label>City </label>
        <!-- (change)="SelectedUOM($event.target.value)" -->
        <select id="ddlCity" [(ngModel)]="ddlCitySelectedValue" class="form-control" name="ddlCitySelectedValue"
          (change)="OnCityChange($event.target.value);" required>
          <option [value]="0" disabled>Select City</option>
          <option *ngFor="let row of dtCity" [value]='row.SNo | json'>{{row.city}}</option>
        </select>
        </div>
        </form>


        <div id="AreaWiseBookings" *ngIf="dtAreaWiseBookings!=undefined && dtAreaWiseBookings.data!==undefined">
          <fusioncharts type="column3d" [dataFormat]="dataFormat" [dataSource]="dtAreaWiseBookings" width="100%">
          </fusioncharts>
        </div>
      
      </div>
     </div>

    <br><hr><br>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="MonthlyIncome" *ngIf="dtMonthlyIncome!=undefined && dtMonthlyIncome.dataset!==undefined">

          <fusioncharts type="stackedcolumn3d" [dataFormat]="dataFormat" [dataSource]="dtMonthlyIncome" width="100%">
          </fusioncharts>
        </div>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <form class="form-inline">
        <div class="form-group">
        <label>Month</label>
        <!-- (change)="SelectedUOM($event.target.value)" -->
        <select id="ddlMonth" [(ngModel)]="ddlMonthSelectedValue" class="form-control" name="ddlMonthSelectedValue"
          (change)="OnMonthChange($event.target.value);" required>
          <option [value]="0" disabled>Select Month</option>
          <option *ngFor="let row of dtMonths" [value]='row.Month | json'>{{row.MonthName}}</option>
        </select>
        </div>
      </form>
         <div id="WeeklyIncome" *ngIf="dtWeeklyIncome!=undefined && dtWeeklyIncome.dataset!==undefined">

          <fusioncharts type="stackedcolumn3d" [dataFormat]="dataFormat" [dataSource]="dtWeeklyIncome" width="100%">
          </fusioncharts>
        </div>
      </div>

    </div>
    <br><hr><br>

    <div class="row">

      <!-- Longest Route -->

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4><b><u>Longest Route Travelled by Agent</u></b></h4>
        
        <h5><b>Source : </b>{{lblLongSource}}</h5>
        <h5><b>Destination : </b>{{lblLongDestination}}</h5>
        <h5><b>Distance : </b>{{lblLongDistance}} K.M</h5>
        <div #longestRouteMap class="mapStyles route_map"></div>
        </div>
     

      <!-- Shortest Route -->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4><b><u>Shortest Route Travelled by Agent</u></b></h4>
    
   
          <h5><b>Source : </b>{{lblShortSource}}</h5>
      
 
          <h5><b>Destination : </b>{{lblShortDestination}}</h5>
     
     
          <h5><b>Distance : </b>{{lblShortDistance}} K.M</h5>
          <div #ShortestRouteMap class="mapStyles route_map"></div>
    
      </div>
    </div>
    <br>
    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3><b><u>Agent Locations</u></b></h3>
          </div>
      <div class="col-md-12">

        <div #gmap class="mapStyles route_map_border"></div>
      </div>
    </div>


    <div class="container">
    <!-- Presently delivering Agents Details -->

    <div class="row">
      <div class="col-md-12 text-center">
        <h3><b><u>Presently Delivery Serving Agents</u></b></h3>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 pull-right">
        <div class="form-group" style="margin: auto">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtSearch" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
      <div class="mrgn15px">
        <div class="table-responsive">

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-2">Agent Name</th>
                <th class="col-md-1">Personnal MobileNo</th>
                <th class="col-md-1">Official MobileNo</th>
                <th class="col-md-1">Vechile No</th>
                <th class="col-md-1">Aadhar No</th>
                <th class="col-md-1">Driving LicenceNo</th>
                <th class="col-md-1 text-right ">Commission</th>
                <th class="col-md-2">Email Id</th>



              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dtPresentAgents|filter:txtSearch| paginate:{itemsPerPage:5,currentPage: pageNo1  , id: 'pageNo1' }">
                <td class="col-md-2">{{row.AgentName}}</td>
                <td class="col-md-1">{{row.PersonalMobileNo}}</td>
                <td class="col-md-1">{{row.OfficialMobileNo}}</td>
                <td class="col-md-1">{{row.VehicleNo}}</td>
                <td class="col-md-1">{{row.AadharNo}}</td>
                <td class="col-md-2">{{row.DrivingLNo}}</td>
                <td class="col-md-1 text-right">{{row.Commission_KM}}</td>
                <td class="col-md-2">{{row.EmailId}}</td>


              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-4">
                    Total Records : {{lblrecordCount}}
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <pagination-controls class="pagination" (pageChange)="pageNo1 = $event" id='pageNo1'></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>
      </div>

    </div>


    <!-- Agent Details -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h3><b><u>List Of Agents</u></b></h3>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 pull-right">
        <div class="form-group" style="margin: auto;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtSearch" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
      <div class="mrgn15px">
        <div class="table-responsive">

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-2">Agent Name</th>
                <th class="col-md-1">Personnal MobileNo</th>
                <th class="col-md-1">Official MobileNo</th>
                <th class="col-md-1">Vechile No</th>
                <th class="col-md-1">Aadhar No</th>
                <th class="col-md-1">Driving LicenceNo</th>
                <th class="col-md-1 text-right ">Commission</th>
                <th class="col-md-2">Email Id</th>



              </tr>
            </thead>

            <!-- <div>ykjy{{dtallAgents|json}}</div> -->
            <tbody>
              <tr *ngFor="let row of dtallAgents|filter:txtSearch|paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <td class="col-md-2">{{row.AgentName}}</td>
                <td class="col-md-1">{{row.PersonalMobileNo}}</td>
                <td class="col-md-1">{{row.OfficialMobileNo}}</td>
                <td class="col-md-1">{{row.VehicleNo}}</td>
                <td class="col-md-1">{{row.AadharNo}}</td>
                <td class="col-md-2">{{row.DrivingLNo}}</td>
                <td class="col-md-1 text-right">{{row.Commission_KM}}</td>
                <td class="col-md-2">{{row.EmailId}}</td>


              </tr>
              <!-- <tr colspan=12 *ngIf="dtagents.length==0">No Data</tr> -->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-4">
                    Total Records : {{lblagentsCount}}
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>
      </div>

    </div>


    <!-- User Details -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h3><b><u>Total Subscribers</u></b></h3>
      </div>
      <div class="row">
      <div class="col-md-4 col-sm-6 pull-right">
        <div class="form-group" style="margin: auto;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtusersearch" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
      <div class="mrgn15px">
        <div class="table-responsive">

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-2">User Name</th>
                <th class="col-md-1 text-center">Mobile No</th>
                <th class="col-md-3">Email ID</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dtUsers|filter:txtusersearch | paginate:{itemsPerPage: 5,currentPage: pageNo2 , id: 'pageNo2' }">
                <td class="col-md-2">{{row.FullName}}</td>
                <td class="col-md-1 text-center">{{row.MobileNo}}</td>
                <td class="col-md-3">{{row.EmailID}}</td>

              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-4">
                    Total Records : {{lbluserCount}}
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <pagination-controls class="pagination" (pageChange)="pageNo2 = $event" id='pageNo2'></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </div>
      </div>

    </div>
    <br><hr><br>
  </div>
  </div>
</div>