<form #RegisterForm="ngForm" >
  <div class="col-md-4 formdivcss">
    <div class="m-t-0">
      <div class="form-group"> 
        <input type="text" class="form-control" value="{{RegisterFormObj.AgentName}}" [(ngModel)]="RegisterFormObj.AgentName" name="AgentName" placeholder="Agent Name*" #AgentName="ngModel"
          required>
        <div *ngIf="AgentName.invalid && (AgentName.dirty || AgentName.touched)" class="alert alert-danger">
  
          <div *ngIf="AgentName.errors.required">
            AgentName is required.
          </div>
          <div *ngIf="AgentName.errors.minlength || AgentName.errors.maxlength">
            AgentName must be 10 numbers.
          </div>
  
  
        </div>
      </div>
    </div>
  
  
    <div class="m-t-0">
      <div class="form-group">
        <!--<label for="alterEgo">Receiver Mobile Number*</label>-->
        <input type="text" appNumber="true" class="form-control" [(ngModel)]="RegisterFormObj.PersonalMobileNo" name="MobileNo" placeholder="Receiver Mobile Number*"
          #MobileNo="ngModel" minlength="10" maxlength="10" required>
        <div *ngIf="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched)" class="alert alert-danger">
  
          <div *ngIf="MobileNo.errors.required">
            Mobile No is required.
          </div>
          <div *ngIf="MobileNo.errors.minlength || MobileNo.errors.maxlength">
            Mobile No must be 10 numbers.
          </div>
  
  
        </div>
      </div>
    </div>
  
    <div class="m-t-0">
      <div class="form-group">
        <!--<label for="alterEgo">Receiver Mobile Number*</label>-->
        <input type="text" appNumber="true" class="form-control" [(ngModel)]="RegisterFormObj.OfficialMobileNo" name="OfficialMobileNo"
          placeholder="Receiver Mobile Number*" #OfficialMobileNo="ngModel" minlength="10" maxlength="10" required>
        <div *ngIf="OfficialMobileNo.invalid && (OfficialMobileNo.dirty || OfficialMobileNo.touched)" class="alert alert-danger">
  
          <div *ngIf="OfficialMobileNo.errors.required">
            Mobile No is required.
          </div>
          <div *ngIf="OfficialMobileNo.errors.minlength || OfficialMobileNo.errors.maxlength">
            Mobile No must be 10 numbers.
          </div>
  
  
        </div>
      </div>
    </div>
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name"></label> -->
        <input class="form-control" name="Address1" [(ngModel)]="RegisterFormObj.Address1" placeholder="Address1*" #Address1="ngModel" required>
        <div *ngIf="Address1.invalid && (Address1.dirty || Address1.touched)" class="alert alert-danger">
          <div *ngIf="Address1.errors.required">
            Address1 is required.
          </div>
        </div>
      </div>
    </div>


    <div class="m-t-0">
        <div class="form-group">
          <!-- <label for="name"></label> -->
          <input class="form-control" name="Address2" [(ngModel)]="RegisterFormObj.Address2" placeholder="Address2*" #Address2="ngModel" required>
          <div *ngIf="Address2.invalid && (Address2.dirty || Address2.touched)" class="alert alert-danger">
            <div *ngIf="Address2.errors.required">
              Address1 is required..
            </div>
          </div>
        </div>
      </div>
    
      <div class="m-t-0">
        <div class="form-group">
          <!-- <label for="name"></label> -->
          <input class="form-control" name="Address3" [(ngModel)]="RegisterFormObj.Address3" placeholder="Address3*" #Address3="ngModel" required>
          <div *ngIf="Address3.invalid && (Address3.dirty || Address3.touched)" class="alert alert-danger">
            <div *ngIf="Address3.errors.required">
              Address3 is required..
            </div>
          </div>
        </div>
      </div>


  </div>
  <div class="col-md-4 formdivcss">
    
      <div class="m-t-0">
          <div class="form-group">
            <!-- <label for="name"></label> -->
            <input class="form-control" name="BankAccountNo" [(ngModel)]="RegisterFormObj.BankAccountNo" placeholder="BankAccountNo*" #BankAccountNo="ngModel" required>
            <div *ngIf="BankAccountNo.invalid && (BankAccountNo.dirty || BankAccountNo.touched)" class="alert alert-danger">
              <div *ngIf="BankAccountNo.errors.required">
                BankAccountNo is required.
              </div>
            </div>
          </div>
        </div>
  
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.VehicleName" name="VehicleName" placeholder="VehicleName*"
          #VehicleName="ngModel" required>
        <div *ngIf="VehicleName.invalid && (VehicleName.dirty || VehicleName.touched)" class="alert alert-danger">
          <div *ngIf="VehicleName.errors.required">
            Vehicle Name is required.
          </div>
        </div>
      </div>
    </div>
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.VehicleNo" name="VehicleNo" placeholder="VehicleNo*" #VehicleNo="ngModel"
          required>
        <div *ngIf="VehicleNo.invalid && (VehicleNo.dirty || VehicleNo.touched)" class="alert alert-danger">
          <div *ngIf="VehicleNo.errors.required">
            Vehicle No is required.
          </div>
        </div>
      </div>
    </div>

    <div class="m-t-0">
        <div class="form-group">
          <!-- <label for="name">Land Mark*</label> -->
          <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.AadharNo" name="AadharNo" placeholder="AadharNo*" #AadharNo="ngModel"
            required>
          <div *ngIf="AadharNo.invalid && (AadharNo.dirty || AadharNo.touched)" class="alert alert-danger">
            <div *ngIf="AadharNo.errors.required">
              Aadhar No is required.
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="m-t-0">
        <div class="form-group">
          <!-- <label for="name">Land Mark*</label> -->
          <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.PanNo" name="PanNo" placeholder="PanNo*" #PanNo="ngModel" required>
          <div *ngIf="PanNo.invalid && (PanNo.dirty || PanNo.touched)" class="alert alert-danger">
            <div *ngIf="PanNo.errors.required">
              PanNo is required.
            </div>
          </div>
        </div>
      </div>

      <div class="m-t-0">
          <div class="form-group">
            <!-- <label for="name">Land Mark*</label> -->
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.DrivingLNo" name="DrivingLNo" placeholder="DrivingLNo*" #DrivingLNo="ngModel"
              required>
            <div *ngIf="DrivingLNo.invalid && (DrivingLNo.dirty || DrivingLNo.touched)" class="alert alert-danger">
              <div *ngIf="DrivingLNo.errors.required">
                DrivingLNo is required.
              </div>
            </div>
          </div>
        </div>
      
        <div class="m-t-0">
          <div class="form-group">
            <!-- <label for="name">Land Mark*</label> -->
            <input type="file" class="form-control" (change)="upLoadAadharDoc($event)" [(ngModel)]="RegisterFormObj.Aadhar" name="AadharDoc" placeholder="AadharDoc*"  required>
            <!-- <div *ngIf="AadharDoc.invalid && (AadharDoc.dirty || AadharDoc.touched)" class="alert alert-danger">
                      <div *ngIf="AadharDoc.errors.required">
                          AadharDoc is required.
                      </div>
                  </div> -->
          </div>
        </div>
  </div>
  <div class="col-md-4 formdivcss">
    
  
    
  
    <div class="m-t-0">
      <div class="form-group">
        <select [(ngModel)]="RegisterFormObj.PaymentMode" class="form-control" name="PaymentType" required>
          <option disabled>Payment Type</option>
          <option value="Cash">Cash</option>
          <option value="OnLine Payment">OnLine Payment</option>
          <option value="Cheque">Cheque</option>
        </select>
      </div>
    </div>
  
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.BankName" name="BankName" placeholder="BankName*" #BankName="ngModel"
          required>
        <div *ngIf="BankName.invalid && (BankName.dirty || BankName.touched)" class="alert alert-danger">
          <div *ngIf="BankName.errors.required">
            BankName is required.
          </div>
        </div>
      </div>
    </div>
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.Branch" name="Branch" placeholder="Branch*" #Branch="ngModel"
          required>
        <div *ngIf="Branch.invalid && (Branch.dirty || Branch.touched)" class="alert alert-danger">
          <div *ngIf="Branch.errors.required">
            Branch is required.
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.IFSC" name="IFSC" placeholder="IFSC*" #IFSC="ngModel" required>
        <div *ngIf="IFSC.invalid && (IFSC.dirty || IFSC.touched)" class="alert alert-danger">
          <div *ngIf="IFSC.errors.required">
            IFSC is required.
          </div>
        </div>
      </div>
    </div>
  
    <div class="m-t-0">
      <div class="form-group">
        <!-- <label for="name">Land Mark*</label> -->
        <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.Description" name="Description" placeholder="Description*"
          #Description="ngModel" required>
        <div *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="alert alert-danger">
          <div *ngIf="Description.errors.required">
            Description is required.
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-12 mrgn15px">
        <input type="checkbox"  [(ngModel)]="RegisterFormObj.IsActive" name="isActive" placeholder="isActive*" #isActive="ngModel"
        required> Is Active
        <div *ngIf="isActive.invalid && (isActive.dirty || isActive.touched)" class="alert alert-danger">
            <div *ngIf="isActive.errors.required">
              isActive is required.
            </div>
          </div>
      
    </div></div>
  

  


  
  <button *ngIf="registerobj.registerFormAndEditButtonShow!==undefined" type="submit" [disabled]="!RegisterForm.form.valid" class="btn btn-track" (click)="RegisterationSubmit(RegisterFormObj)">Register</button>
  <button *ngIf="registerobj.registerFormAndEditButtonShow===undefined" type="submit" [disabled]="!RegisterForm.form.valid" class="btn btn-track" (click)="editRegisterationSubmit(RegisterFormObj)">Save Edited Date </button>
  <button   class="btn btn-track" (click)="CancelRegistrationForm()">Cancel</button>

</form>


<table class="table table-bordered">
    <thead>
      <tr>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Agent MobileNo</th>
        <th>Vehicle No</th>
        <th>IsActive</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="registerobj.allAgentsData!==undefined && registerobj.allAgentsData.length>0">
      <tr *ngFor="let agent of registerobj.allAgentsData">
        <td>{{agent.AgentID}}</td>
        <td>{{agent.AgentName}}</td>
        <td>{{agent.PersonalMobileNo}}</td>
        <td>{{agent.VehicleNo}}</td>
        <td>{{agent.IsActive}}</td>
        <td><button (click)="EditAgent(agent)">Edit</button></td>
        <td><button (click)="deleteAgent(agent)">Delete</button></td>
      </tr>
      
      
    </tbody>
  </table>