.form-group { margin-bottom: 30px;}
.form-control{ background: transparent; border-radius: 0; color: #ffffff;}
label { width: 100%; color: #fff !important; margin-bottom: 20px}
.title{ color: white; text-align: center; margin: 40px; font-size: 48px; font-weight: bold;font-family: 'Armata';}
.careers_btn{ width: 50%; float: right; font-size: 20px; font-weight: bold; letter-spacing: 2px; 
              border: #fff solid 1px;border-radius: 0; text-transform: capitalize; display: inherit; }
