<div>
  <div class="row">
    <!-- <div *ngIf="httpLoader" class="httpSpinner"></div> -->
    <div class="col-lg-12 col-md-12">
      <h3 class="title">Careers</h3>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" [(ngModel)]="objCareer.FullName" id="FullName" name="FullName" class="form-control"
            placeholder="Full Name" (keypress)="service.fnBlockSpecialchar($event);">
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>Mobile No.</label>
          <input type="text" [(ngModel)]="objCareer.MobileNo" id="MobileNo" name="MobileNo" class="form-control"
            placeholder="Mobile No." (keypress)="service.fnNumbers($event);" minlength="12" maxlength="12">
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>Email ID</label>
          <input type="text" [(ngModel)]="objCareer.EmailID" id="EmailID" name="EmailID" class="form-control"
            placeholder="Email ID">
        </div>
      </div>

      <div class="col-lg-6 col-md-3 col-sm-4 col-lg-push-0 col-md-push-3 col-sm-push-2 col-xs-push-0">
        <div class="form-group">
          <label>&nbsp;</label>
          <input type="button" value="Submit" class="btn comn_btn careers_btn" (click)="fnRequest(objCareer);">
        </div>
      </div>
    </div>
  </div>
</div>