

.sec-solution { padding: 60px 0 0; }

.footer {
    border: 0;
    color: #414042;
    font-family: 'raleway';
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    text-transform: capitalize;
    width: 100%;
    font-weight: normal;
    /* background: #020348; */
    padding: 40px 0;
}

.footer-border {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
   
}

.footer .footer-inner {
    float: left;
    width: 100%;
    text-align: left;
    font-family: 'Armata';
}

    .footer .footer-inner img {
        margin-bottom: 15px;
        width: 100px
    }

    .footer .footer-inner h5 {
        font-family: 'Armata';
        font-size: 16px;
        letter-spacing: normal;
        margin: 0;
        font-weight: bold;
        /* color: #cecece; */
    }

    .footer .footer-inner p.divide {
        /*border: 0;
        color: #212121;
        font-size: 13px;
        letter-spacing: normal;
        line-height: 18px;
        margin-bottom: 25px;
        margin-right: 100px;
        text-transform: none*/
        font-size: 12px;
        letter-spacing: normal;
        margin-bottom: 0;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 25px;
        margin-right: 100px;
    }

    .footer .footer-inner p {
        font-size: 12px;
        letter-spacing: normal;
        margin-bottom: 0;
        font-weight: bold;
        line-height: 25px;
        /* color: #848484; */
    }
        /*.footer .footer-inner p i {
            color: #30328a;
            font-size: 15px;
            padding: 0 10px
        }*/
        .footer .footer-inner p span {
            padding: 0
        }

        .footer .footer-inner p a {
            color: #212121;
            font-size: 12px;
            text-decoration: none
        }

.footer-inner .inner_main h5 {
    font-family: 'Armata';
    font-size: 25px;
    letter-spacing: normal;
    margin: 0;
    font-weight: bold
}

.footer-inner .inner_main {
    display: flex;
    margin-bottom: 15px;
}

    .footer-inner .inner_main .inner_left i {
        color: #30328a;
        font-size: 20px;
    }

    .footer-inner .inner_main .inner_left {
        float: left;
        margin-right: 15px;
    }

    .footer-inner .inner_main .inner_right {
        float: left;
    }

.footer-inner .inner_right p {
    font-size: 12px;
    letter-spacing: normal;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 25px;
    text-transform: initial;
}

.pb_copyright {
    background: #4e4e4e;
    width: 100%;
    float: left;
    padding: 10px;
    margin: auto;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.9em;
}

.ez_copyright .all_reserved {
    color: #9a9a9a;
}

.ez_copyright .designed {
    font-size: 15px;
}

    .ez_copyright .designed span {
        color: #414042 !important;
        font-weight: bold;
        padding: inherit !important;
    }

    .ez_copyright .designed a {
        color: #FF5722;
        font-size: 15px;
        text-decoration: none;
    }

        .ez_copyright .designed a:hover {
            color: #30328a;
        }


.footer-link-head {
    font-family: 'raleway';
    font-size: 13px;
    letter-spacing: normal;
    margin: 0 0 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold
}

.footer ul {
    list-style: none;
    padding: 0;
    display: block
}

    .footer ul li {
        display: block;
        font-size: 13px;
        position: relative;
        text-align: left
    }

        .footer ul li a {
            padding: 0;
            font-size: 13px;
            color: #212121;
            text-decoration: none
        }

    .footer ul.social-icon {
        display: block;
        text-align: right
    }

        .footer ul.social-icon li {
            display: inline-block;
            font-size: 18px;
            position: relative;
            height: 45px; /*pre 40*/
            width: 45px; /*pre 40*/
            /*border-radius: 50%;*/
            margin: 5px;
            background: #ccc;
            text-align: center;
            transition: all .1s ease-in 0
        }

            .footer ul.social-icon li.icon-fb:hover {
                background: #3b5998
            }

            .footer ul.social-icon li.icon-tw:hover {
                background: #00aced
            }

            .footer ul.social-icon li.icon-li:hover {
                background: #0077b5
            }

            .footer ul.social-icon li.icon-gh:hover {
                background: #333
            }

            .footer ul.social-icon li.icon-gp:hover {
                background: #d34836
            }

            .footer ul.social-icon li.icon-yp:hover {
                background: #b00
            }

            .footer ul.social-icon li a {
                color: #30328a;
                display: block;
                /*padding: 11px 5px*/
                padding: 12px 5px;
            }

                .footer ul.social-icon li a:hover {
                    color: #fff
                }

                .footer ul.social-icon li a i {
                    font-size: 20px /*pre 18*/
                }

.footer .container span {
    color: #414042 !important;
    padding: 0 10px
}


/* ================== //// \\ Media Qurey \\ ////// ================= */

@media(max-width:768px) {

    .footer{ padding: 10px 0; }
    .banner-one .alg { display: inline-block; }
    .banner-one .alg span { float: left; }
    .footer .footer-inner { font-size: 12px; }
    .ez_copyright .designed {  font-size: 12px; }
    .ez_copyright .designed a { font-size: 12px; }
    .ez_copyright .designed span { padding: inherit !important;}
    .footer ul.social-icon{ text-align: left; }
    .footer ul.social-icon li { margin-left: 0; }
 
}