<!-- <section *ngIf="isLoggedIn$ | async;else footer"></section> -->

<!-- <ng-template #footer> -->
<section class="sec-solution bg-sec-1" id="contact">
    <div class="footer m-t-0 p-b-20">
        <div class="container">
            <div class="row footer-border">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="footer-inner">
                        <a href="#bookon">
                            <img class="logo-2" src="../../../assets/images/logo.png" alt="EZ-Korier">
                        </a>
                        <!--<img src="#" alt="EZ Korier">-->
                        <h5> Enabling digital commerce</h5>
                        <p class=" divide ">A growing team and network that has helped create over 150 million
                            outstanding experiences</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="footer-inner">
                        <div class="inner_main">
                            <h5>GET IN TOUCH</h5>
                        </div>
                        <div class="inner_main">
                            <div class="inner_left">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="inner_right">
                                <p>
                                    A-201, 'The Platina', 2nd Floor,
                                    Survey No 136, Gachibowli Miyapur Road,
                                    Gachibowli, Hyderabad-500032.
                                </p>
                            </div>
                        </div>
                        <div class="inner_main">
                            <div class="inner_left">
                                <p><span><i class="fa fa-phone"></i></span></p>
                            </div>
                            <div class="inner_right">
                                <p>040-67216767</p>
                            </div>
                        </div>
                        <div class="inner_main">
                            <div class="inner_left">
                                <p><span><i class="fa fa-envelope"></i></span></p>
                            </div>
                            <div class="inner_right">
                                <p>info@ezkorier.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-push-0 col-md-push-0 col-sm-push-6 col-xs-push-0">
                    <ul class="social-icon ">
                        <li class="icon-fb">
                            <a href="#" target="_blank "> <i class="fa fa-facebook "></i> </a>
                        </li>
                        <li class="icon-tw">
                            <a href="#" target="_blank "> <i class="fa fa-twitter "></i> </a>
                        </li>
                        <li class="icon-li">
                            <a href="#" target="_blank "> <i class="fa fa-linkedin "></i> </a>
                        </li>
                        <li class="icon-gp">
                            <a href="#" target="_blank "> <i class="fa fa-google-plus "></i> </a>
                        </li>
                        <li class="icon-yp">
                            <a href="#" target="_blank "> <i class="fa fa-youtube-play "></i> </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row ">
                <!-- <div class="col-xs-12"> -->
                <div class="footer-inner ez_copyright">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="all_reserved">
                            <p>© 2018 EZ-Korier. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6">
                        <div class="designed"><span>Designed &amp; Devoloped by : </span><a href="https://www.goldensuntechnology.com/"
                                target="_blank">Golden Sun Technology</a></div>
                    </div>

                </div>
                <!-- </div> -->

            </div>
        </div>
    </div>
</section>
<!-- </ng-template> -->