.right_signin {
  position: relative;
  right: 0;
  top: 0;
}
/* .navbar-right .signin_btn {
  padding: 0;
  margin: 15px auto auto;
  background: #f7f7f7;
  line-height: 0;
} */

.right_signin span{ 

    background: #30328a; 
    padding: 7px 20px;
    color: white;
    letter-spacing: 1px;
    border-radius: 15px;
    position: relative;
    top: 12px;
    left: 0;
    /* background-image: linear-gradient(to right bottom, #30328a, #862988, #c12174, #e53c54, #f26b2e); */
 
}
.right_signin span:hover{

    background: #2b2eaf;
  /* background-image: linear-gradient(to left bottom, #30328a, #862988, #c12174, #e53c54, #f26b2e); */
}


.right_logout span{ 

    background: #30328a;
    padding: 7px 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 15px;
    position: relative;
    top: 0;
    right: 0;
    font-size: 14px;
   /* background-image: linear-gradient(to right bottom, #30328a, #862988, #c12174, #e53c54, #f26b2e); */

}
.right_logout span:hover{  
   
   background: #2b2eaf;
 /* background-image: linear-gradient(to left bottom, #30328a, #862988, #c12174, #e53c54, #f26b2e); */
}
/* 
.nav .navbar-nav .navbar-right .right_logout a {
 
    line-height: 70px !important;

  } */

/* .nav .navbar-nav .navbar-right .right_signin a {
 
  line-height: 70px !important;
  /* font-size: 15px; */
  /*color: white;
  text-decoration: none;
} */

.navbar {
  margin-bottom: 0;
}
.navbar-default.navbar-transparent .navbar-nav > li > a, .navbar-default.navbar-transparent .navbar-text {
  color: #30328a;
  font-weight: bold;
  font-family: 'raleway';
}


  .navbar.in {
      -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
      padding: 0;
  }

.navbar-transparent {
  /*background: transparent;*/
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  /*z-index: 1030;
  position: relative;*/
  z-index: 999999999;
  position: fixed;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s
}

  .navbar-transparent.in {
      background: #fff;
      position: fixed;
      animation: all .3s
  }

  .navbar-transparent .navbar-nav a {
      background: transparent
  }

  .navbar-transparent .navbar-nav > li > a:focus,
  .navbar-transparent .navbar-nav > li > a:hover {
      background: transparent !important
  }

  .navbar-transparent.in .navbar-nav > li > a:focus,
  .navbar-transparent.in .navbar-nav > li > a:hover {
      color: #333;
  }

.navbar-header {
  position: relative;
  width: 100px;
  height: auto;
  z-index: 999999;
}

.navbar-brand img {
  -webkit-transition: width .5s ease 0, opacity .5s ease 0s;
  -moz-transition: width .5s ease 0, opacity .5s ease 0s;
  -o-transition: width .5s ease 0, opacity .5s ease 0s;
  -ms-transition: width .5s ease 0, opacity .5s ease 0s;
  transition: width .5s ease 0, opacity .5s ease 0s
}

  .navbar-brand img.logo-xs {
      opacity: 0
  }


  .navbar-brand img.logo-xs,
  .navbar-brand img.logo-1 {
      left: 0;
      position: absolute;
      width: 85px;
      top: 9px
  }

  .navbar-brand img.logo-2 {
      left: 0;
      position: absolute;
      opacity: 0;
      width: 55px;
      top: 9px
  }

  .navbar-brand img.logo-1 {
      width: 100px;
      top: 0;
  }

.navbar.in .navbar-brand img.logo-xs,
.navbar.in .navbar-brand img.logo-1 {
  opacity: 0;
  width: 100px;
  margin-top: -18px
}

.navbar.in .navbar-brand img.logo-2 {
  opacity: 1;
  width: 100px;
  margin-top: -18px
}

.navbar.in .navbar-brand span {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;
  padding: 0 54px
}

.navbar.in .navbar-nav.navbar-right {
  margin-top: 5px
}

.navbar-default .navbar-nav a,
.navbar-default .navbar-nav > li.dropdown > a {
  border: 0;
  color: #30328a;
  font-family: 'raleway';
  min-height: auto;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 50px;
  text-transform: capitalize;
  -webkit-transition: all .5s ease 0;
  -moz-transition: all .5s ease 0;
  -o-transition: all .5s ease 0;
  -ms-transition: all .5s ease 0;
  transition: all .5s ease 0
}

.navbar.in .navbar-nav a,
.navbar.in .navbar-nav > li.dropdown > a {
  line-height: 40px;


}
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav li.dropdown a:hover,
.navbar-default .navbar-nav li.dropdown a:focus {
  /* background: #fff; */
  background: transparent;
  border: 0;
  color: #30328a;
  min-height: auto;
  text-shadow: none;
  text-decoration: none
}

.navbar-nav li.dropdown {
  border: 0;
  margin-left: 0;
 }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.dropdown.active > a,
.navbar-default .navbar-nav > li.dropdown.active > a:hover,
.navbar-default .navbar-nav > li.dropdown.active > a:focus {
  border: 0;
  font-weight: bold;

}

.navbar-default.navbar-transparent.in .navbar-nav > li > a:hover {
  color: #30328a !important;
}

li.dropdown:hover a {
  background: transparent
}
.dropdown-menu{ padding: 0; border-radius: 0}

li.dropdown:hover > .dropdown-menu {
    display: block;
    background: #2a409a;
     width: 100%;
}

li.dropdown:hover > .dropdown-menu li a {
    color: rgb(177, 177, 177);
    line-height: normal;
    border-bottom: #3046a5 solid 1px;
}
li.dropdown:hover > .dropdown-menu li a:hover { 
    color: #fff;
    background: #1b2f82;  
 }



.dropdown:hover .ddbox {
  border-top-width: 1px
}

.ddbox::before {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ddd;
  right: 32px;
  top: -15px
}

.ddbox::after {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  right: 32px;
  top: -14px
}

.navbar-default .navbar-nav li.dropdown .btn {
  background: #ef3d26
}
#eznav {
  display: block;
  /* width: 100%; 
  position: absolute;
  background: #ffffff; */
}

.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}
.sub-menu ul li { list-style-type: none; padding: 0; margin: 0;
 width: 100%;
}
.sub-menu li {
    border-bottom: #3046a5 solid 1px;
    width: 100%;
    list-style-type: none;
    background: #2a409a; 
}
.sub-menu li ul { 
    visibility: hidden;
    position: absolute;
    transition: 0.2s 1s;
}

.sub-menu li a { color: #dadada !important; display: block; text-decoration: none;
     width: 100%; line-height: normal !important;
     background: #2a409a;
   
}
.sub-menu li a:hover { 
    color: #fff !important;
    background: #1b2f82 !important;  
 }

/*.sub-menu  ul { background: green; text-align: center; }
.sub-menu  ul > li { display: inline-block; border-left: solid 1px #aaa; }
.sub-menu  ul > li:first-child { border-left: none; } */

.sub-menu {
    /* background:#2a409a; */
    width: 175px;
    padding: 0
  }
  
/* presentational */


/* nav a { color: #E00; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #EEE; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }  */

.sub_toggle{width: 100%; }
.sub_toggle2{width: 100%;}

/* ================== //// \\ Media Qurey \\ ////// ================= */

@media (max-width: 768px) {
    .navbar-default.navbar-transparent .navbar-nav > li > a, .navbar-default.navbar-transparent .navbar-text {
        padding: 18px 10px 0;
        font-size: 14px;
    }
    .right_logout span{ padding: 7px 10px; }
}
 
@media(max-width:767px) {
  /*body {
  padding-top: 70px !important
}*/

.navbar-nav.responsive {position: relative;}
.navbar-nav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
li.dropdown > .dropdown-menu li a{
    padding: 10px;
}

  .bg-sec-2 {
      background-size: cover;
  }

  #eznav {
       display: none;
       width: 100%; 
       position: absolute;
       background: #ffffff
  }

  .right_signin {
      position: absolute;
      top: inherit;
  }

  .right_logout {
    position: absolute;
    top: inherit;
    right: 0;

}

      .right_signin.navbar-right .signin_btn a {
          padding: 10px !important;
      }

  .navbar-default.navbar-transparent.bgchange,
  .navbar-default.navbar-transparent.in {
      background: #fff
  }

  .navbar {
      padding: 12px 0
  }

      .navbar > .container {
          padding: 0
      }

          .navbar > .container > .navbar-collapse,
          .container > .navbar-header {
              margin: 0
          }

  .navbar-nav {
      margin: auto !important;
      border-bottom: #30328a solid 1px;
  }

  .navbar-default .navbar-nav a,
  .navbar-default .navbar-nav a:hover,
  .navbar-default .navbar-nav a:focus,
  .navbar-default .navbar-nav > li.dropdown > a,
  .navbar-default .navbar-nav > li.dropdown > a:hover,
  .navbar-default .navbar-nav > li.dropdown > a:focus,
  .navbar-default .navbar-nav li.active a,
  .navbar-default .navbar-nav li.active a:hover,
  .navbar-default .navbar-nav li.active a:focus,
  .navbar-default .navbar-nav li.dropdown.active a,
  .navbar-default .navbar-nav li.dropdown.active a:hover,
  .navbar-default .navbar-nav li.dropdown.active a:focus {
      padding: 0 10px
  }

  .navbar-default.navbar-transparent .navbar-nav li a:focus,
  .navbar-default.navbar-transparent .navbar-nav li a:hover {
      color: #30328a !important
  }

  .navbar-header {
      width: 100%
  }

  .navbar.bgchange .navbar-brand img.logo-xs {
      opacity: 1
  }

  .navbar.bgchange.in .navbar-brand img.logo-xs {
      opacity: 0;
      top: 10px;
      width: 50px
  }

  .navbar-brand {
      height: 55px;
      margin-top: -5px;
      padding: 0;
      width: 100px
  }

  .navbar.in .navbar-brand {
      width: 65px
  }

  .navbar-brand img.logo-xs {
      left: 15px;
      position: absolute;
      width: 85px;
      top: -2px
  }

  .navbar-brand img.logo-1 {
      opacity: 1;
      left: 15px;
      top: -10px
  }

  .navbar-brand img.logo-2 {
      opacity: 0;
      left: 15px;
      top: -2px;
      width: 56px
  }

  .navbar.in .navbar-brand img.logo-xs,
  .navbar.in .navbar-brand img.logo-1 {
      top: 10px
  }

  .navbar.in .navbar-brand img.logo-2 {
      left: 15px;
      position: absolute;
      opacity: 1;
      /*width: 34px;*/
      top: 10px
  }

  .navbar-default .navbar-collapse {
      border-top: 0;
      margin-top: 10px !important
  }

  .dropdown:hover .ddbox {
      display: none
  }

  .navbar-collapse.collapse,
  .navbar-collapse.collapse.in {
      width: 100% !important
  }

  .navbar-default .navbar-nav li.dropdown a:hover,
  .navbar-default .navbar-nav li.dropdown a:focus,
  li.dropdown.open,
  li.dropdown.open a.dropdown-toggle {
      background-color: transparent;
  }

  /* .dropdown.open .ddbox {
      background-color: #f5f5f5;
      border: 0 none;
      box-shadow: none;
      display: block;
      float: left;
      min-height: 170px;
      max-height: 210px;
      margin-top: 0;
      opacity: 1;
      position: absolute;
      width: 100%
  } */

  .navbar-default .navbar-nav > .active > a {
      background: transparent;
      color: #ef3d26
  }

  .navbar-default .navbar-nav li a:focus,
  .navbar-default .navbar-nav li a:hover {
      background: transparent;
      color: #262626;
      padding: 0 10px
  }

  .navbar-collapse {
      max-height: 100%
  }

  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      background: 0;
      border: 0
  }

  .navbar-default .navbar-toggle {
      margin: 0;
      padding: 17px 25px
  }

      .navbar-default.navbar-transparent.in .navbar-toggle .icon-bar,
      .navbar-default .navbar-toggle .icon-bar {
          background-color: #414042
      }    
    
 .sub-menu li a{
          padding: 15px 10px;
      }

  /*.bg1,
.bg2,
.bg3 {
  padding: 80px 15px
}*/

  .jumbotron h1 {
      font-size: 25px
  }

  .h-100,
  .h-70,
  .h-50 {
      height: auto
  }

  h1.subcover {
      font-size: 20px;
      margin-bottom: 15px
  }

  .h-100 p,
  .h-70 p,
  .h-50 p {
      font-size: 15px
  }

  .scroll-down {
      bottom: 1%
  }

  .navbar-default .navbar-nav li.dropdown a:hover {
      background: #eee none repeat scroll 0 0 !important
  }

  nav li.dropdown:focus,
  nav li.dropdown:hover {
      color: #656466
  }
  li.dropdown:hover > .dropdown-menu li a {
      color: #ffffff !important;
      padding: 10px;
      background: #1b2f82;
  }

  .jumbotron {
      margin-bottom: 0
  }

  .footer .container a {
      font-size: 13px;
      text-decoration: none
  }

  .svgmap {
      height: 600px !important
  }

  #company::before {
      display: none
  }

  .navbar-default.navbar-transparent .navbar-toggle .icon-bar {
      background-color: #2a409a;
  }

  .navbar-default.navbar-transparent.bgchange .navbar-toggle .icon-bar {
      background-color: #414042
  }

  .navbar-default.navbar-transparent .navbar-collapse {
      border-color: #eee;
      background: #fff;
      margin-top: 10px
  }

  .bg1.banner-one {
      height: auto;
      overflow: auto
  }

      .bg1.banner-one .dis-tbl {
          height: 100%;
          padding-top: 70px;
          vertical-align: baseline
      }

      .bg1.banner-one .dis-tbl-cell {
          padding: 20px 0 15px
      }

      .bg1.banner-one .dis-tbl h1 {
          font-size: 24px;
          margin: 0 0 10px;
          text-align: center
      }

          .bg1.banner-one .dis-tbl h1 span {
              font-style: italic;
              font-weight: 500
          }

      .bg1.banner-one .dis-tbl p {
          font-size: 12px;
          margin-bottom: 50px;
          text-align: center
      }

  .trackform {
      margin-top: 30px
  }

  .track-order-float.btn-float {
      bottom: 40px;
      top: auto
  }

  .track-order-float {
      padding: 25px 40px;
      min-width: 100%
  }

      .track-order-float.open {
          height: 100%;
          position: fixed;
          top: 0;
          z-index: 1100;
          border-radius: 0
      }

      .track-order-float.btn-float.open {
          border-radius: 0;
          padding: 25px 40px;
          min-width: 100%;
          width: 260px;
          height: 100%;
          bottom: 0;
          right: 0;
          top: auto;
          z-index: 1100
      }

      .track-order-float.wow.bounceInRight.btn-float.open {
          height: 100%;
          top: auto
      }

  .table-wrapper {
      height: 360px
  }

  .navbar-toggle {
      display: inline-block;
      cursor: pointer
  }

  .navbar.in .collapse.navbar-collapse {
      margin-top: 2px !important
  }

  .collapse.in {
      display: block !important
  }

  .track-order-float > form .input-label.active {
      top: -7px !important
  }

  .track-order-float.wow.animated > .tooltip.fade.bottom.in,
  .track-order-float.btn-float > .tooltip.fade.bottom.in {
      display: none !important
  }

  .navbar-default.navbar-transparent .navbar-nav > li > a,
  .navbar-default.navbar-transparent .navbar-text {
      color: #30328a !important;
      padding-top: 0;
  }

  .thumb-solutions.dashed::after {
      display: none
  }

  .track-order-float.left.dowm-form {
      right: 0 !important;
      top: 0 !important
  }
}
@media (max-width: 320px){

input{ width: 100%; background:  red !important }

} 
