<!-- <div *ngIf="isLoggedIn$ | async;else other_content" class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  
</div>
<ng-template #other_content>
<div class="topnav">
  <a class="active" routerLink="/home" routerLinkActive="active">Home1</a>
  <a href="#news">News1</a>
  <a href="#contact">Contact1</a>
  <a href="#about">About1</a>
  <a (click)="openLoginPopUp()">Login</a>
  <a routerLink="/Register">Register</a>
  <a routerLink="/Items">Items</a>
  <a routerLink="/RateMapping">Rate Mapping</a>
  <a routerLink="/Category">Category</a>
</div>
</ng-template> -->
<div *ngIf="isLoggedIn$ | async;else other_content" class="topnav">

    <nav class="navbar active navbar-default navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" (click)="MenuToggleClick();">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span> <span class="icon-bar bar2"></span> <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" routerLink="/AdminDashboard">
                    <img class="logo-1" src="../../../assets/images/logo.png" alt="EZ-Korier">
                    <!-- <img class="logo-2" src="assets/images/logo.png" alt="EZ-Korier"> -->
                </a>
            </div>
            <div class="nav navbar-nav" id="eznav">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/AdminDashboard">Admin Dashboard </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="MenuToggleInner();" >Masters <b class="caret"></b></a>
                        <ul class="dropdown-menu sub_toggle">
                         <li><a routerLink="/Agent">Agent</a></li>
                          <li><a routerLink="/Items">Items</a></li>
                          <li> <a routerLink="/RateMapping">Rate Mapping</a></li>
                          <li> <a routerLink="/Category">Category</a></li>
                        </ul>
                      </li>
                       <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="MenuToggleInner2();">Reports <b class="caret"></b></a>
                            <ul class="dropdown-menu sub_toggle2">
                            <li><a routerLink="/AgentRequests">Agent Careers</a></li>
                            <li><a routerLink="/AgentWiseRegister">Agent Register</a></li>
                            <li><a routerLink="/AgentPayments">Agent Payments</a></li>
                            <li><a routerLink="/PaymentRegister">Payment Register</a></li>
                            <li><a routerLink="/UserbookingRegister">User Register</a></li>
                            <li><a routerLink="/RefundOrders">Refund Orders</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/UserBooking">User Booking</a></li>
                    <li><a routerLink="/ChangePwd">Change Password</a></li>
                </ul>
            </div>

            <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li><a  href="#" class="btn right_logout" (click)="logOut()">
                        <span>Logout</span></a></li>
                    </ul>     
            </div>


            <!-- <div class="nav navbar-nav navbar-right">
                <div class="right_logout" (click)="logOut()">
                    <a href="#contact"><span>Logout</span></a>
                </div>
            </div> -->

        </div>
    </nav>
    
</div>
<div class="clearfix"></div>

<ng-template #other_content>
    <nav class="navbar active navbar-default navbar-transparent navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" (click)="MenuToggleClick();">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span> <span class="icon-bar bar2"></span> <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#bookon">
                    <img class="logo-1" src="../../../assets/images/logo.png" alt="EZ-Korier">
                    <!-- <img class="logo-2" src="assets/images/logo.png" alt="EZ-Korier"> -->
                </a>
            </div>



            <div class="nav navbar-nav" id="eznav">
                <ul class="nav navbar-nav navbar-left">
                    <li class=""> <a href="#what">WHAT?</a></li>
                    <li class=""> <a href="#why">WHY?</a> </li>
                    <li class=""> <a href="#how">HOW?</a> </li>
                    <li class=""> <a href="#contact">CONTACT</a> </li>
                    <li class=""> <a href="#Careers">CAREERS</a> </li>
                </ul>
            </div>
             <!-- <div class="nav navbar-nav navbar-right">
                <div class="">
                    <a href="#signin" class="right_signin"><span>Sign In</span></a>
                </div>
            </div> -->
         </div>
    </nav>
</ng-template>