<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">User Register</h2>
    </div>
    <div class="row mrgn30px">
      <div class="div_border">

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="form-group">
            <label>From Date</label><span class="manditory">*</span>
            <!-- <material-datepicker [options]="MOMENT_DATE_FORMATS" [(date)]="yourModelDate"></material-datepicker> -->
            <input type="Date" [(ngModel)]="UserBooking.txtFromDate" id="txtFromDate" name="txtFromDate" class="form-control">
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">
          <div class="form-group">
            <label>To Date</label><span class="manditory">*</span>
            <input type="date" [(ngModel)]="UserBooking.txtToDate" id="txtToDate" name="txtToDate" class="form-control">
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4 col-lg-push-0 col-md-push-0 col-sm-push-10 col-xs-push-8">
          <div class="form-group" style="margin-top: 24px;">
            <input type="button" value="View" (click)="GetUserDetails();" class="btn comn_btn">
          </div>
        </div>

        <div class="form-group col-lg-3 col-md-3 col-sm-6 pull-right" style="margin-top: 24px;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtUSerRegSearch" placeholder="search" class="form-control ">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mrgn15px">
      <div class="col-md-12 text-right">
        <span style="cursor: pointer;font-size: 16px;font-weight:600;color:green;text-decoration: underline;">
          <i (click)="fnFreeRides();"><b>Free Rides</b></i>
        </span>
      </div>

    </div>

    <div class="row mrgn30px">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-1">Customer Name</th>
              <th class="col-md-1">Customer</th>
              <th class="col-md-1">Distance(KMs)</th>
              <th class="col-md-1 text-right">User fare</th>
              <th class="col-md-1 text-right">Agent fare</th>
              <th class="col-md-1 text-center">Orders</th>
            </tr>
          </thead>
          <tbody class="TextSize" *ngIf="dtUserbookingDetails!==undefined && dtUserbookingDetails.length>0">
            <tr *ngFor="let row of dtUserbookingDetails|filter:txtUSerRegSearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
              <td class="col-md-1">{{row.CustomerName}}</td>
              <td class="col-md-1">{{row.SenderMobile}}</td>
              <td class="col-md-1">{{row.Distance}}</td>
              <td class="col-md-1 text-right">{{row.UserAmount}}</td>
              <td class="col-md-1 text-right">{{row.AgentAmount}}</td>
              <td class="col-md-1 text-center">
                <input type="button" value={{row.NoOfOrders}} class="Orders" (click)="GetSummaryDetails(row);"
                  data-toggle="modal" data-target="#UserBookingModal">
                <!-- <span style="cursor: pointer;font-size: 16px;"><b><a (click)="GetSummaryDetails(row.CustomerID);" data-toggle="modal" data-target="#UserBookingModal">{{row.NoOfOrders}}  </a></b></span> -->
                <!-- <span style="cursor: pointer;font-size: 16px;"><b><a (click)="GetSummaryDetails(row);" data-toggle="modal"
                          data-target="#UserBookingModal">{{row.NoOfOrders}} </a></b></span> -->
              </td>
            </tr>
            <tr colspan=12 *ngIf="dtUserbookingDetails.length==0">No Data</tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <div class="col-md-2">
                  Total Records : {{lblrecordCount}}
                </div>
                <div class="col-md-2">
                  Total Distance : {{lbltotdistance|number:'1.1-2'}}
                </div>
                <div class="col-md-2">
                  Total UserFare : {{lbltotUserfare|number:'1.1-2'}}
                </div>
                <div class="col-md-3">
                  Total AgentFare : {{lbltotagentfare|number:'1.1-2'}}
                </div>
                <div class="col-md-3"></div>
                <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- Free Ride Modal -->
    <div class="modal fade" id="FreeRideModal" role="dialog" data-backdrop="false">
      <div class="modal-dialog custom_poup" style="width:85%;">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title PaymentHeader"><b>Free Rides</b></h3>
          </div>
          <div class="modal-body">
            <div class="row mrgn30px">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="col-md-1">Customer Name</th>
                      <th class="col-md-1">Customer</th>
                      <th class="col-md-1">Distance(KMs)</th>
                      <th class="col-md-1 text-right">User fare</th>
                      <th class="col-md-1 text-right">Agent fare</th>

                    </tr>
                  </thead>
                  <tbody class="TextSize" *ngIf="dtFreebookingDetails!==undefined && dtFreebookingDetails.length>0">
                    <tr *ngFor="let row of dtFreebookingDetails| paginate:{itemsPerPage: 5,currentPage: pageNo1 }">
                      <td class="col-md-1">{{row.CustomerName}}</td>
                      <td class="col-md-1">{{row.SenderMobile}}</td>
                      <td class="col-md-1">{{row.Distance}}</td>
                      <td class="col-md-1 text-right">{{row.UserAmount}}</td>
                      <td class="col-md-1 text-right">{{row.AgentAmount}}</td>

                    </tr>
                    <tr colspan=12 *ngIf="dtFreebookingDetails.length==0">No Data</tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <div class="col-md-2">
                          Total Records : {{lblrecordCount}}
                        </div>
                        <div class="col-md-2">
                          Total Distance : {{lbltotdistance|number:'1.1-2'}}
                        </div>
                        <div class="col-md-2">
                          Total UserFare : {{lbltotUserfare|number:'1.1-2'}}
                        </div>
                        <div class="col-md-3">
                          Total AgentFare : {{lbltotagentfare|number:'1.1-2'}}
                        </div>
                        <div class="col-md-3"></div>
                        <pagination-controls class="pagination" (pageChange)="pageNo1 = $event"></pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>


          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="UserBookingModal" role="dialog" data-backdrop="false">
      <div class="modal-dialog custom_poup" style="width:85%;">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title PaymentHeader"><b>{{lblCustomerName}}</b></h3>
          </div>
          <div class="modal-body">

            <div class="row" style="padding: 0;">
              <div class="form-group col-md-3  pull-right">
                <div class="input-group">
                  <input type="text" [(ngModel)]="txtsearch" placeholder="search" class="form-control ">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-md-1">Bookig Date</th>
                    <th class="col-md-1">Bookig Id</th>
                    <th class="col-md-1">Agent Name</th>
                    <th class="col-md-2">Source</th>
                    <th class="col-md-2">Destination</th>
                    <th class="col-md-1">Distance(KM)</th>
                    <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span>&nbsp;Amount</th>
                    <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span>&nbsp;Agent Amount</th>
                    <!-- <span> <i class="fa fa-inr" aria-hidden="true"></i> {{lblAgentAmount}} /- </span> -->
                  </tr>
                </thead>
                <tbody class="TextSize" *ngIf="dtViewbookingDetails!==undefined && dtViewbookingDetails.length>0">
                  <tr *ngFor="let row of dtViewbookingDetails|filter:txtsearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">

                    <td class="col-md-1">{{row.BookingDate}}</td>
                    <td class="col-md-1">{{row.BookingID}}</td>
                    <td class="col-md-1">{{row.AgentName}}</td>
                    <td class="col-md-2">{{row.Source}}</td>
                    <td class="col-md-2">{{row.Destination}}</td>
                    <td class="col-md-1">{{row.Distance_KM}}</td>
                    <td class="col-md-1">{{row.TotalFare}}</td>
                    <td class="col-md-1">{{row.AgentComission}}</td>
                  </tr>
                  <tr colspan=12 *ngIf="dtViewbookingDetails.length==0">No Data</tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="12">
                      <div class="col-md-2">
                        Total Distance : {{lbltotdis|number:'1.1-2'}}
                      </div>
                      <div class="col-md-2">
                        Total Amount : {{lbltotamt|number:'1.1-2'}}
                      </div>
                      <div class="col-md-2">
                        Total AgentAmount : {{lbltotageamount|number:'1.1-2'}}
                      </div>
                      <div class="col-md-3"></div>
                      <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>