<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Refund Orders</h2>
    </div>


    <div class="row mrgn30px">
      <div class="row" style="padding: 0;">
        <div class="form-group col-lg-3 col-md-3 col-sm-6 pull-right">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtRefundsearch" placeholder="search" class="form-control ">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-1">Booking Date</th>
                <th class="col-md-1">Booking Id</th>
                <th class="col-md-2">Customer</th>
                <th class="col-md-1">Mobile No.</th>
                <th class="col-md-1">Transaction Id</th>
                <th class="col-md-1">Total Fare</th>
                <th class="col-md-1">Disc Amount</th>
                <th class="col-md-1">Cancel Charges</th>
                <th class="col-md-1">Refund Amount</th>

              </tr>
            </thead>
            <tbody class="TextSize" *ngIf="dtRefundOrders!==undefined && dtRefundOrders.length>0">
              <tr *ngFor="let row of dtRefundOrders|filter:txtRefundsearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <td class="col-md-1">{{row.BookingDate}}</td>
                <td class="col-md-1">{{row.BookingID}}</td>
                <td class="col-md-1">{{row.FullName}}</td>
                <td class="col-md-1">{{row.SenderMobile}}</td>
                <td class="col-md-1">{{row.TransactionID}}</td>
                <td class="col-md-1">{{row.TotalFare}}</td>
                <td class="col-md-1">{{row.DiscountAmount}}</td>
                <td class="col-md-1">{{row.CancellationCharges}}</td>
                <td class="col-md-1 text-center">
                  <input type="button" class="Refund" value="{{row.RefundAmount}}" (click)="fnOpenModal(row);">
                  <!-- <span><b>{{row.RefundAmount}}</b> data-toggle="modal" data-target="#RefundModal"</span> -->
                </td>

              </tr>
              <tr colspan=12 *ngIf="dtRefundOrders.length==0">No Data</tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-2">
                    Total Records : {{lblrecordCount}}
                  </div>
                  <div class="col-md-2">
                    Total Fare : {{lblTotFare|number:'1.1-2'}}
                  </div>
                  <div class="col-md-2">
                    Total Disc Amount : {{lblTotdiscamount|number:'1.1-2'}}
                  </div>
                  <div class="col-md-3">
                    Total CancelAmount : {{lblTotcanamount|number:'1.1-2'}}
                  </div>
                  <div class="col-md-3"></div>
                  <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                  <!-- <pagination-controls class="pagination" (pageChange)="PageNo = $event"></pagination-controls> -->
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="RefundModal" role="dialog" data-backdrop="false">
      <div class="modal-dialog custom_poup" style="width:30%;">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- <h3 class="modal-title PaymentHeader"><b>{{lblAgentName}}</b></h3> -->
          </div>
          <div class="modal-body">
            <div class="row">

              <p style="padding:5px;">
                <b> <span style="margin-left:30px;font-size: 16px;">Are you sure want to refund Amount </span>
                  <span class="RefundAmt"> {{refundAmt}} </span> ?
                </b>
              </p>

              <!-- <span style="padding:5px;">
                <p style="margin-left:30px;"> </p> 
              </span> -->
            </div>

          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-3">
                <input type="button" class="btn btn-success col-md-12" value="Pay" (click)="fnPayRefundAmount();">
              </div>
              <div class="col-md-3">
                <input type="button" class="btn btn-danger col-md-12" value="cancel" data-dismiss="modal">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>