
.Refund{
    height: 24px;
    width: 60px;
    border-radius: 12px;
    border: none;
    background: #30328a;
    color: white;
    font-weight: 600;
}

.RefundAmt{
    font-size: 16px;
    color: red;
}