<div class="container-fulid">

    <div id="bookon" class="jumbotron h-100 cover">
        <div #gmap class="mapStyles"></div>


        <div class="banner-one">

            <div class="dis-tbl wow fadeIn" data-wow-delay="0s"
                style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
                <div class="dis-tbl-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="color:black;">
                                <div class="ezbook">

                                    <span class="ez_r_open" (click)="ezbookingToggle();">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>

                                    </span>
                                </div>

                                <div id="" *ngIf="ez_r_open" class="track-order-float shadow wow bounceInRight"
                                    data-wow-duration="1.1s" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-duration: 1.1s; animation-delay: 0.1s; animation-name: bounceInRight;">

                                    <div class="">
                                        <h4>Booking Information</h4>

                                        <form>
                                            <!-- #MapsGlobelObject="ngForm" -->
                                            <div class="m-t-0">
                                                <div class="form-group">
                                                    <input class="form-control" ngx-google-places-autocomplete
                                                        id="txtSource" name="txtSource" placeholder="Source *"
                                                        [options]='options'
                                                        (onAddressChange)="handleAddressChange($event,1,MapsGlobelObject,map)" />
                                                    <!-- ,DisplayRoute,computeTotalDistanceTime -->
                                                </div>
                                            </div>


                                            <div class="m-t-0">
                                                <div class="form-group">

                                                    <input class="form-control" ngx-google-places-autocomplete
                                                        id="txtDestination" name="txtDestination"
                                                        placeholder="Destination *" [options]='options'
                                                        (onAddressChange)="handleAddressChange($event,2,MapsGlobelObject,map)" />
                                                    <!-- ,DisplayRoute,map,computeTotalDistanceTime -->
                                                </div>
                                            </div>


                                            <div class="m-t-0">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                                    style="padding-left: 0;">

                                                    <input type="text" class="form-control" id="MobileNumber"
                                                        [(ngModel)]="MapsGlobelObject.MobileNumber" name="MobileNumber"
                                                        placeholder="Sender Mobile No.*" maxlength="10"
                                                        (keypress)="service.fnNumbers($event);" required>


                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
                                                    style="padding-right:0;">
                                                    <input type="text" class="form-control" id="ReceiverMobileNumber"
                                                        [(ngModel)]="MapsGlobelObject.ReceiverMobileNumber"
                                                        name="ReceiverMobileNumber" placeholder="Receiver Mobile No.*"
                                                        maxlength="10" (keypress)="service.fnNumbers($event);">

                                                </div>
                                            </div>

                                            <br>

                                            <div class="m-t-0">
                                                <div class="row">
                                                    <p class="AddItems">
                                                        <span (click)="fnAddClick();">Add Items
                                                            <i class="fa fa-plus-circle"></i></span>
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="m-t-0 item_box">
                                                <!-- Item Details Header -->
                                                <div class="row">
                                                    <div class="col-md-7 col-xs-6 items_list border_none">
                                                        <label class="t_h">Item Name</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-3 items_list border_none text-center">
                                                        <label class="t_h">Qty</label>
                                                    </div>
                                                    <div class="col-md-3 colxs-3 items_list border_none text-center">
                                                        <label class="t_h">Remove</label>
                                                    </div>
                                                </div>

                                                <!--Item Details Body -->
                                                <div id="ItemsDetails"
                                                    *ngIf="dtSelectedItems!==undefined && dtSelectedItems.length>0">
                                                    <div class="row" *ngFor="let item of dtSelectedItems ;index as i">
                                                        <div class="col-md-7 col-xs-6 items_list ">
                                                            {{item.ItemName}}
                                                        </div>
                                                        <div class="col-md-2 col-xs-3 items_list text-center">
                                                            {{item.Qty}}
                                                        </div>
                                                        <div class="col-md-3 col-xs-3 items_list text-center">
                                                            <span class="removeItem"><i class="fa fa-times-circle"
                                                                    (click)="fnRemoveItem(i);"></i></span>
                                                        </div>

                                                    </div>
                                                </div>
                                                <br>
                                            </div>


                                            <div class="row">
                                                <!-- style="display: none;" -->
                                                <!-- <div class="col-md-12">
                                                    <h5><label><u>ETA : {{lblETA}}</u> </label></h5>
                                                </div> -->
                                                <div
                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mrgn5px text-center ">
                                                    <label>Distance : {{lblDistance| number : '1.2-2'}}&nbsp;Km</label>
                                                </div>
                                            </div>

                                            <div id="divInvoice" [hidden]="!InvoiceShow">

                                                <div class="item_box">

                                                    <div class="">
                                                         <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 items_list border_none">
                                                            <label class="amount_label"> Fare </label>
                                                        </div>

                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            <label> :</label>
                                                        </div>

                                                        <div class="items_list amount border_none">
                                                            <span class="rupee_icon"><i class="fa fa-rupee"
                                                                    area-hidden="true"></i></span>
                                                            <label class="amount_label"> {{lblFare| number : '1.2-2'}}</label>
                                                        </div>
                                                          <!-- <div class="col-lg-6 cl-md-6 col-sm-12 col-xs-12 ">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 items_list border_none">
                                                            <label>Fare : {{lblFare| number : '1.2-2'}}</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 items_list border_none text-right">
                                                            <label>Distance : {{lblDistance| number : '1.2-2'}}&nbsp;Km</label>
                                                        </div>
                                                    </div> -->
                                                    </div>

                                                    <div class="">

                                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 items_list border_none">
                                                            <label class="amount_label">Cancellation Charges (Previous) </label>
                                                        </div>

                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            <label> :</label>
                                                        </div>

                                                        <div class="items_list amount border_none">
                                                            <span class="rupee_icon"><i class="fa fa-rupee"
                                                                    area-hidden="true"></i></span>
                                                            <label class="amount_label"> {{lblTotCancelCharges| number : '1.2-2'}}</label>
                                                        </div>

                                                    </div>

                                                    <div class="">

                                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 items_list border_none">
                                                            <label class="amount_label">Promo Code Off. </label>
                                                        </div>

                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            <label>:</label>
                                                        </div>

                                                        <div class="items_list amount border_none">
                                                            <span class="rupee_icon"><span class="plus_less"><i
                                                                        class="fa fa-minus minus"
                                                                        aria-hidden="true"></i></span>&nbsp;<i
                                                                    class="fa fa-rupee" area-hidden="true"></i></span>
                                                            <label class="amount_label"> {{lblPromoOffer| number : '1.2-2'}}</label>
                                                        </div>

                                                    </div>

                                                    <div class="" style="border-top:1px solid #ddd;">

                                                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7 items_list border_none">
                                                            <label>Total Fare</label>
                                                        </div>

                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            <label>:</label>
                                                        </div>

                                                        <!-- <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 items_list border_none"> -->
                                                        <div class="items_list amount border_none">
                                                            <span class="rupee_icon"><i class="fa fa-rupee"
                                                                    area-hidden="true"></i></span>
                                                            <label><b>{{lblTotalAmount| number : '1.2-2'}}</b></label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item_box_apply">
                                                    <div class="col-lg-12 col-md-8 col-sm-7 col-xs-12 items_list border_none">
                                                        <span for="txtPromoCode"><b>Have a Promo Code ?</b></span>
                                                        <span class="PromoCodes"><i class="fa fa-plus-circle"
                                                            title="Promo code List"
                                                            (click)="fnOpenPromoCodeModal();"
                                                            data-target="#PromoCodeModal"
                                                            data-toggle="modal"></i></span>
                                                    </div>

                                                    <div
                                                        class="col-lg-9 col-md-9 col-sm-9 col-xs-8 items_list border_none">
                                                        <input type="text" [(ngModel)]="txtPromoCode" id="txtPromoCode"
                                                            name="txtPromoCode" class="form-control"
                                                            placeholder="Enter Promo code here">
                                                    </div>

                                                    <div [hidden]="!ShowbtnApply" class="col-lg-3 col-md-3 col-sm-3 col-xs-4 items_list border_none">
                                                        <input type="button" value="Apply" name="Apply"
                                                            class="btn btn-info apply-btn" (click)="btnApplyClick();">
                                                    </div>

                                                    <div [hidden]="ShowbtnApply" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 items_list border_none">
                                                        <input type="button" value="Remove" name="RemovePromoCode"
                                                            class="btn btn-danger" (click)="fnRemovePromoCode();">
                                                    </div>

                                                </div>
                                            </div>
                                            <div [hidden]="!divPayUSubmit" class="payment_options">
                                                <div>
                                                    <p>Choose Your Payment</p>
                                                </div>

                                                <div class="select_payment">
                                                    <span>
                                                        <img src="../../../assets/images/podicon.png"
                                                            title="Cash on Delivery" (click)="fnPOD();">
                                                        </span>
                                                     </div>

                                                <div class="select_payment">
                                                    <span><img src="../../../assets/images/payu.png"
                                                            title="PayU gateway" (click)="fnPayU();"></span>
                                                </div>
                                            </div>

                                            <div [hidden]="!divFreeRideSubmit">
                                                <input type="button" class="btn btn-track btn-block"
                                                    (click)="fnConfirmBooking();" value="Book A consignment">
                                            </div>

                                            <!-- <button type="submit" class="btn btn-track btn-block" (click)="fnConfirmBooking();">Book
                                                A consignment</button> -->
                                             </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Payment Options Modal for Cash On Delivery / PAYU -->
            <div class="modal fade" id="PaymentConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                data-backdrop="false">
                <div class="modal-dialog custom_poup payment_model">
                    <div class="modal-content">

                        <div class="modal-body">
                            <img src="../../../assets/images/payment-icon.svg" class="img-responsive payment_icon">
                            <h4 class="payment_h4">Are you sure ?</h4>
                            <p>Thank you choosing EZ-Korier.</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn payment_ok" value="yes, proceed"
                                (click)="fnPaymentProceed();">
                            <input type="button" class="btn no" data-dismiss="modal" value="cancel">
                        </div>
                    </div>
                </div>
            </div>
             <!-- PromoCode Modal -->
            <div class="modal fade" id="PromoCodeModal" role="dialog" data-backdrop="false">
                <div class="modal-dialog custom_poup">

                    <!-- Modal content-->

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title PaymentHeader"><b>Promo codes</b></h3>
                        </div>

                        <div class="modal-body" style="color:black;">
                            <div class="row" *ngFor="let promo of dtPromoCodes">
                                <div class="coupon_offer">
                                    <div class="col-md-6">
                                        <span class="offer_promo" (click)="fnApplyPromoCode(promo);"
                                            title="Click this">{{promo.PromoCode}}</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <span>Save Upto <i class="fa fa-rupee"
                                                area-hidden="true"></i>&nbsp;<b>{{promo.Savings}}
                                                /-</b></span>
                                    </div>
                                    <div class="col-md-12 mrgn15px">
                                        {{promo.PromoDesc}}
                                    </div>
                                    <div class="col-md-12 mrgn15px">
                                        Use Promo Code {{promo.PromoCode}} to get this offer.
                                        <span class="apply" (click)="fnApplyPromoCode(promo);">apply</span>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Items Modal -->
            <div class="modal fade" id="ItemsModal" role="dialog" data-backdrop="false">
                <div class="modal-dialog custom_poup">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title PaymentHeader"><b>Add Items</b></h3>
                        </div>
                        <!-- <div class="modal-body">

                        </div> -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select [(ngModel)]="ddlItem" *ngIf="dtItems!==undefined && dtItems.length>0"
                                            placeholder="Items" (change)="SelectedItem($event.target.value)"
                                            class="form-control" name="SelectItem" id="ddlItem" required>
                                            <option [value]="0" disabled>Items</option>
                                            <option *ngFor="let obj of dtItems" [value]='obj | json'>{{obj.ItemName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select [(ngModel)]="ddlQty" *ngIf="dtQty!==undefined && dtQty.length>0"
                                            (change)="SelectedQty($event.target.value)" class="form-control"
                                            name="SelectItem" id="ddlQty" required>
                                            <option [value]="0" disabled>Qty</option>
                                            <option *ngFor="let obj of dtQty" [value]='obj.Qty | json'>{{obj.Qty}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="objItems.PValue"
                                            id="txtValue" name="txtValue" maxlength="8"
                                            (keypress)="service.fnNumbersWithDot($event);" placeholder="Parcel Value *"
                                            required>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select [(ngModel)]="ddlWeight"
                                            *ngIf="dtWeight!==undefined && dtWeight.length>0"
                                            (change)="SelectedWeight($event.target.value)" class="form-control"
                                            name="SelectItem" id="ddlWeight" required>
                                            <option [value]="0" disabled>Weight</option>
                                            <option *ngFor="let obj of dtWeight" [value]='obj | json'>{{obj.Weight_Qty}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="objItems.Desc" id="txtDesc"
                                            name="txtDesc" placeholder="Instruction *" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 pull-right">
                                    <input type="button" class="btn btn-success col-md-12" value="Add"
                                        (click)="fnAddItems();">
                                </div>

                                <!-- <div class="col-md-2">
                                    <input type="button" class="btn btn-cancel" value="Close" data-dismiss="modal">
                                </div> -->

                            </div>
                         </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>