

 <!-- Pie chart -->

<div *ngIf="Piechartdata!=undefined && Piechartdata.data!==undefined">
    <fusioncharts
    [width]="width"
    [height]="height"
    type="pie3d"
    [dataFormat]="dataFormat"
    [dataSource]="Piechartdata">
</fusioncharts>
</div>




<!-- Bar chart -->

<div *ngIf="Barchartdata!=undefined && Barchartdata.data!==undefined">

    <fusioncharts
    [width]="width"
    [height]="height"
    type="column3d"
    [dataFormat]="dataFormat"
    [dataSource]="Barchartdata">
</fusioncharts>


</div>