<form>

  <div *ngIf="httpLoader" class="httpSpinner"></div>

  <div [hidden]="regHide">
    <div class="group">
      <input type="text" id="txtFullName" [(ngModel)]="objReg.txtFullName" name="txtFullName" maxlength="40">
      <label>Full Name</label>
    </div>
    <div class="group">
      <input type="text" id="txtMobileNo" [(ngModel)]="objReg.txtMobileNo" (keypress)="_serv.fnNumbers($event);" name="txtMobileNo" maxlength="10" class="nbr" >
      <label>Mobile No</label>
      <span class="ind91">+91</span>
    </div>
    <div class="group">
      <input type="text" id="txtEmail" [(ngModel)]="objReg.txtEmail" name="txtEmail" maxlength="40">
      <label>Email</label>
    </div>

    <input type="button" value="Submit" class="btn btn-track btn-block sign-in" (click)="CheckUserExistance();">
  </div>

  <div [hidden]="!regHide">
<!-- 
    <div class="group">
      <input type="text" id="txtOTP" [(ngModel)]="objReg.txtOTP" name="txtOTP" maxlength="40">
      <label>OTP</label>
    </div> -->


  <div class="div_otp">
    <div class="group">
      
      <input class="input_otp" type="text" id="txtOTP1" [(ngModel)]="objReg.txtOTP1" name="txtOTP" maxlength="1" (keypress)="fnOTP1KeyPress();">
      <input class="input_otp" type="text" id="txtOTP2" [(ngModel)]="objReg.txtOTP2" name="txtOTP" maxlength="1" (keypress)="fnOTP2KeyPress();">
      <input class="input_otp" type="text" id="txtOTP3" [(ngModel)]="objReg.txtOTP3" name="txtOTP" maxlength="1" (keypress)="fnOTP3KeyPress();">
      <input class="input_otp" type="text" id="txtOTP4" [(ngModel)]="objReg.txtOTP4" name="txtOTP" maxlength="1" (keypress)="fnOTP4KeyPress();">
      <input class="input_otp" type="text" id="txtOTP5" [(ngModel)]="objReg.txtOTP5" name="txtOTP" maxlength="1">
      <label>OTP</label>
    </div>
  


    <div class="group">
      <input type="password" id="txtPassword" [(ngModel)]="objReg.txtPassword" name="txtPassword" maxlength="40">
      <label>Generate your Password</label>
    </div>

    <div class="group">
      <input type="password" id="txtconfirmPassword" [(ngModel)]="objReg.txtconfirmPassword" name="txtconfirmPassword"
        maxlength="40">
      <label>Confirm Password</label>
    </div>
    <!-- <input type="button" class=" btn btn-track btn-block sign-in" value="Register"> -->

    <input type="button" value="Register" class="btn btn-track btn-block sign-in" (click)="SaveUser();">
  </div>
</div>
</form>