<app-navbar></app-navbar>

<div class="container-fulid">
    <div class="jumbotron h-100 cover">
        <div class="jumbotron_2">
            <div class="container">
                <div class="ez_top_login">
                    <div class="ezbook" style="display: none;">
                        <span class="ez_r_open" (click)="ezbookingToggle();">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="login_box" *ngIf="ez_r_open">
                        <div class="">
                            <div class="container ng-scope" ng-controller="LoginCtrl">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-2 col-lg-offset-0 col-sm-offset-1 p-10 ship">
                                    <!-- <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 text-center">
                                        <img src="assets/images/ez-boy.png" alt="Shipping" class="img-responsive img-truck">
                                    </div> -->
                                    <!-- <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 signIn"> -->
                                            <div class="signIn">
                                        <div class="track-order-float dowm-form" id="firstt">
                                            <div id="signIn"[hidden]="!Login">
                                                <h4>Sign In</h4>
                                                <app-login></app-login>
                                                <br>
                                                <div class="signin_signout_bnt">
                                                    <a id="register" class="signin_signout" (click)="reg(2)"> <i class="fa fa-pencil"
                                                            aria-hidden="true"></i> Register</a>
                                                </div>

                                                <div>
                                                    <a id="ForgotPwd" class="signin_signout forgot_password" (click)="reg(3)">Forgot Password</a>
                                                </div>
                                            </div>


                                            <div id="register" [hidden]="!register">
                                                <h4>Register</h4>
                                                <app-user-cration></app-user-cration>
                                                <br>
                                                <div>
                                                    <a id="Login" class="signin_signout" (click)="reg(1)"> <i class="fa fa-sign-in"
                                                            aria-hidden="true"></i> LogIn</a>
                                                </div>
                                            </div>

                                            <div id="ForgotPwd" class="forgot_2" [hidden]="!fgPwd">
                                                <h4>Forgot Password ?</h4>
                                                <app-forgot-password></app-forgot-password>
                                                <br>
                                                <div>
                                                    <a id="Login" class="signin_signout" (click)="reg(1)"> <i class="fa fa-sign-in"
                                                            aria-hidden="true"></i> LogIn</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="form-group">
      <input ngx-google-places-autocomplete placeholder="Enter an origin location" [options]='options'  (onAddressChange)="handleAddressChange($event,1,MapsGlobelObject,DisplayRoute,map,computeTotalDistanceTime)"/>
      <input ngx-google-places-autocomplete placeholder="Enter a destination location" [options]='options'  (onAddressChange)="handleAddressChange($event,2,MapsGlobelObject,DisplayRoute,map,computeTotalDistanceTime)"/>
  </div> -->
        <div #gmap class="mapStyles" id="bookon"></div>
    </div>

    <section class="sec-solution bg-sec-1" id="what">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="thumb-des">
                            <h2 class="head-main"> WHAT <span>we Offer?</span> </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="thumbnail thumb-solutions thumb-solutions_2">
                                <div class="thumb-icon thumb-icon_2"> <img class="img-responsive" src="assets/images/ez-boy.png"
                                        alt="Transportation"> </div>
                                <div class="caption caption_2">
                                    <h3 class="heading">Transportation</h3>
                                    <p>Multiple delivery products including forward &amp; reverse logistics and product
                                        replacement with express &amp; economy speeds.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                            <div class="thumbnail thumb-solutions thumb-solutions_2">
                                <div class="thumb-icon thumb-icon_2"> <img class="img-responsive img_2" src="assets/images/icon-channel.png"
                                        alt="Freight"> </div>
                                <div class="caption caption_2">
                                    <h3 class="heading">Freight</h3>
                                    <p>Part truck-load and Full truck-load freight (door to door as well as point to
                                        point) along with Heavy / Volumetric shipping.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12" style="display: none;">
                            <div class="thumbnail thumb-solutions thumb-solutions_2">
                                <div class="thumb-icon thumb-icon_2"> <img class="img-responsive" src="assets/images/icon-fulfilment.png"
                                        alt="Warehousing"> </div>
                                <div class="caption caption_2">
                                    <h3 class="heading">Warehousing</h3>
                                    <p>B2C, B2B order fulfilment, Quality inspection, Packaging services, JIT
                                        fulfilment, Bundling using state of the art in-house warehouse management
                                        system.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12" style="display: none;">
                            <div class="thumbnail thumb-solutions thumb-solutions_2">
                                <div class="thumb-icon thumb-icon_2"> <img class="img-responsive" src="assets/images/icon-international.png"
                                        alt="International"> </div>
                                <div class="caption_2">
                                    <h3 class="heading">International</h3>
                                    <p>Global shipping at your fingertips. Ship from and to anywhere in the world at
                                        exciting rates.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sec_about">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="border_h2"></span>
                        <div class="thumb-des">
                            <h2 class="head-main">About Us</h2>
                        </div>

                    </div>
                    <div>
                        <p>
                            As an acknowledged industry pioneer, EZ KORIER has always stood by its core value of trust
                            and integrity and is known for this among the internal and external customers for more than
                            two decades. Company has been always driven by its customers need and made significant
                            efforts to create a bond with its customers by leveraging service as a differentiator.
                        </p>
                        <!--<a href="" class="explore_btn hvr-sweep-to-right"> Explore</a>-->
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="sec-why" id="why">
        <div class="sec-solution bg-sec-2">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <!--<div class="thumb-des">
                              <h2 class="head-main"> WHY <span>us?</span> </h2>
                          </div>-->
                        <div class="aside aside_4 why">
                            <h2>why choose us</h2>
                            <p>As an acknowledged industry pioneer, EZ KORIER has always stood by its core value of
                                trust and integrity and is known for this among the internal and external customers for
                                more than two decades. Company has been always driven by its customers need and made
                                significant efforts to create a bond with its customers by leveraging service as a
                                differentiator. </p>

                            <ul>
                                <li><span><img src="assets/images/1.png" alt=""></span>
                                    <p>Best Delivery Service in Selected Cities</p>
                                </li>
                                <li><span><img src="assets/images/2.png" alt=""></span>
                                    <p>Customer centric approach</p>
                                </li>
                                <li><span><img src="assets/images/3.png" alt=""></span>
                                    <p>Advanced logistics technology system</p>
                                </li>
                            </ul>
                            <!--<a href="" class="explore_btn hvr-sweep-to-right">Explore More</a>-->
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="aside aside_5">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="thumbnail thumb-solutions">
                                        <div class="thumb-icon"> <img src="assets/images/network.png" alt="Largest Network">
                                        </div>
                                        <div class="caption">
                                            <h3>Largest Network</h3>
                                            <!--<p><span class="net-font-weight">13000+ pincodes</span> and <span class="net-font-weight">1400+ cities</span> serviced! Our deep pan - India network operates 24x7 to get the products to our consumers on time.</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="thumbnail thumb-solutions">
                                        <div class="thumb-icon"> <img src="assets/images/price.png" alt="Unbeatable Prices">
                                        </div>
                                        <div class="caption">
                                            <h3>Unbeatable Prices</h3>
                                            <!--<p>Cost effective prices for your growing business needs.</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="thumbnail thumb-solutions">
                                        <div class="thumb-icon"> <img src="assets/images/fast-delivery.png" alt="Fast Deliveries">
                                        </div>
                                        <div class="caption">
                                            <h3>Fast Deliveries</h3>
                                            <!--<p>Efficient delivery services lead to happier customers and build brand loyalty.</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="thumbnail thumb-solutions">
                                        <div class="thumb-icon"> <img src="assets/images/techsupport.png" alt="Tech Support">
                                        </div>
                                        <div class="caption">
                                            <h3>Tech Support</h3>
                                            <!--<p>High-end tech and customer support to help seamlessly run your business.</p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-solution bg-sec-1" id="how">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="thumb-des">
                        <h2 class="head-main"> HOW <span>do you ship with us?</span> </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail thumb-solutions ">
                            <img src="assets/images/register.png" alt="Ship with us" class="widthzero">
                            <div class="caption padding">
                                <div class="steps"><span class="order_no">1</span></div>
                                <h3 class="ship-head-size">Register with us</h3>
                                <p class="p_2">Fill in the Contact form and our client onboarding team will immediately
                                    reach out to you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail thumb-solutions dashed dashed-right">
                            <img src="assets/images/contract.png" alt="Ship with us" class="widthzero">
                            <div class="caption padding">
                                <div class="steps"><span class="order_no">2</span></div>
                                <h3 class="ship-head-size">Service contract</h3>
                                <p class="p_2">Agree to the terms of service and sign our service contract.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail thumb-solutions dashed dashed-right">
                            <img src="assets/images/start-ship.png" alt="Ship with us" class="widthzero">
                            <div class="caption padding">
                                <div class="steps"><span class="order_no">3</span></div>
                                <h3 class="ship-head-size">Start Shipping</h3>
                                <p class="p_2">Simply hand over the products from your preferred location and we will
                                    deliver the rest.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-sec" id="signin">

        <div class="sec-solution bg-sec-3">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="lift_content">
                        <span><img src="../../../assets/images/location-map-4.png" class="location_img"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="right_content">
                        <h1>Keep track on the move</h1>
                        <p>The EZ-Korier app is available for all your devices. That way, EZ-Korier can go wherever you
                            do.</p>
                        <div class="getapp">
                            <span><img src="../../../assets/images/ez-google-play.png" class="span1"></span>
                            <span><img src="../../../assets/images/ez-ios_app.png" class="span1"></span>
                            <!-- <div><span><img src="../../../assets/images/app.png" class="span1"></span></div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="contact-sec" id="Careers">

        <div class="sec-solution bg-sec-4">
            <div class="container">
                <!-- <div class="col-lg-7"> -->
                <!-- <div class="lift_content">
                        <span><img src="../../../assets/images/location-map-4.png" class="location_img"></span>
                    </div> -->
                <!-- </div> -->
                <!-- <div class="col-lg-12"> -->
                <div class="careers_wrap">
                    <app-careers></app-careers>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>

    <div class="scroll-to-top" [ngClass]="{'show-scroll': navIsFixed}">
        <button (click)="scrollToTop()">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
</div>