
/* .mapStyles {
    width:100%;
    height:100%;
    position: relative;
    z-index: 99;
}
.mapStyles::before {
    content: "";
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 9;
    background: #04040494;
    
}

.mapStyles::before {
    content: "";
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #04040494;
}*/

/*.mapStyles {
    width:100%;
    height: 100vh;
    position: relative;
    z-index: 99;
}
 .mapStyles_backbg{  left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #04040494;} */



  /* #floating_panel {
    position: relative;
    z-index: 999;
    text-align: center;
     background: #fff none repeat scroll 0 0;
    float: right;
    border-radius: 3px;
    min-height: 350px;
    padding: 30px 40px;
    position: relative;
    right: 0;
    top: 0;
    transition: border-radius .2s ease 0, width .2s ease 0s, height .2s ease 0s;
    min-width: 331px;
    max-width: 100%;
    box-shadow: 0 2px 4px #000;
  } */

/* .pac-container {
    background-color: #eeeeee !important;
    z-index: 999999999;
    position: fixed;
    display: inline-block;
    
}  */

/* .m-b-0 {
    margin-bottom: 0 !important
}
.track-order-float {
    background: #fff none repeat scroll 0 0;
    float: right;
    border-radius: 3px;
    min-height: 350px;
    padding: 30px 40px;
     right: 0;
    top: 0;
    transition: border-radius .2s ease 0, width .2s ease 0s, height .2s ease 0s;
    min-width: 331px;
    max-width: 100%;
    box-shadow: 0 2px 4px #000;
}   
  .track-order-float h4 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 24px;
        font-family: 'raleway';
        margin-top: 0;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: left;
        text-shadow: none;
        font-family: 'Armata';
    }

.form-control .form-group{  margin-bottom: 10px;}

.form-control .form-group input, select, textarea{ width: 100%;  }

.form-control {
    font-family: 'Armata';
    padding-left: 0;
    border: 0;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: 1px solid #a6a6a6;
    font-size: 13px;
    line-height: 21px;
    color: #a6a6a6;
    background: transparent;
    padding-top: 10px;
}

 .form-control input.active {
    color: red;
}
 .form-control:focus {
        border-bottom: 2px solid #30328a;
    }

.input-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    position: absolute;
    top: 7px;
    pointer-events: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    line-height: 19px;
    z-index: 899
}

.input-label.active {
    top: -8px !important
}

.input-label.active {
    font-size: 11px;
    line-height: 15px;
    top: -2px !important
}

.track-order-float.wow.bounceInRight > form .input-label {
    top: 15px
}

.btn-track {
 
    background: #30328a;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    transition: all .3s ease 0;
    top: 20px; 
    margin-bottom: 5px; 
    font-family: 'Armata';
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-track .txt-ldng {
    display: none
} */

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    bottom: 10%;
    z-index: 9999999; 
  
}
.scroll-to-top button {
    background-color: #30328a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    border: #03A9F4 solid 3px;
}

.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}



/* ================== //// Google Map////// ================= */
.mapStyles {
    width:100%;
    height: 100vh;
    position: relative;
    z-index: 99;

}
/* .mapStyles::before {
    content: "";
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #04040494;
} */

.whatsapp {
    position: fixed;
    left: 0px;
    bottom: 5%;
    z-index: 99999999999999;
    /*display: flex;*/
    display: table;
}

.whatsapp_no {
    position: relative;
    background: #30328a;
    /*display: inline-block;*/
    text-align: center;
    float: left;
}

.whatsapp .whatsapp_no span {
    background: #03a9f4;
    float: left;
    color: #fff;
    font-weight: bold;
    line-height: 1px;
    padding: 15px;
    font-size: 20px;
    border-right: #848383 solid 1px;
}

.whatsapp .whatsapp_no_ion i {
    background: #30328a;
    float: left;
    color: #03ff03;
    font-weight: bold;
    line-height: 1px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.alertbox{
    width: 60%;
    background: red;
    top: 10%;
    left: 0;
    z-index: 9999999999999999;
    position: absolute;
    height: 200px;
}

.alert-danger {
    color: #ff0000;
    /* background-color: #948989; */
    /* border-color: #ff0029; */
    background: none;
    border: none;
    margin-bottom: 0;
    padding: 5px;
    border-radius: 0;
    text-align: left;
}

.gmnoprint{ position: absolute !important; z-index: 99999999999999 !important; padding: 50px !important;


background: #03ff03 !important;
}


/* ================== //// End Google Map ////// ================= */

.h-100 {
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.jumbotron {
    /* box-shadow: 0 0 10px #333 inset; */
    color: #fff;
    text-align: center;
    /* margin-top: 30px; 
    padding: 95px 0 !important;*/
    padding: 0 !important;
    border-radius: 0;
} 

 /* .cover {
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}  */

.dis-tbl {
    display: table;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.dis-tbl-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    position: relative;
    top: 100px;
    left: 0;
}

  #floating_panel {

    /* z-index: 999999; */
    text-align: center;
     background: #fff none repeat scroll 0 0;
    float: right;
    border-radius: 3px;
    min-height: 350px;
    padding: 30px 40px;
    position: absolute;
    right: 0;
    top: 0;
    transition: border-radius .2s ease 0, width .2s ease 0s, height .2s ease 0s;
    min-width: 331px;
    max-width: 100%;
    box-shadow: 0 2px 4px #000;
  }

/* .pac-container {
    background-color: #eeeeee !important;
    z-index: 999999999;
    position: fixed;
    display: inline-block;
    
}  */


.jumbotron_2{
    position: absolute;
    padding: 2px !important;
    width: 100%;
    top: 0;
    z-index: 999;
    /* float: left; */
    /* display: block; */
    /* overflow: hidden; */
}

.ez_top_login {
   
     display: block;
    position: relative;
     top: 100px;
    left: 0;
    padding: 0;
    overflow: hidden;
}

.signIn{
    margin: auto;
    display: table;
}
.forgot_2{ padding: 25px 20px; }

.jumbotron_2 .ez_top_login .login_box {
    
    /* width: 360px; */
    height: inherit;
    z-index: 9999;
    top: 0;
    /* right: 0; */
    float: right;
    position: relative;
    padding: 40px 0;
}

.login_box h1 {
    color: #000;
    font-size: 20px;
}
.m-b-0 {
    margin-bottom: 0 !important
}
.track-order-float {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    min-height: 330px;
    padding: 30px 0;
     right: 0;
    top: 0;
    transition: border-radius .2s ease 0, width .2s ease 0s, height .2s ease 0s;
    /* min-width: 300px; */
    min-width: 250px;
    max-width: 100%;
    /* box-shadow: 0 2px 4px #000; */
    overflow: hidden;
} 
input{ width: auto;}

  .track-order-float h4 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 24px;
        font-family: 'raleway';
        margin-top: 0;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: left;
        text-shadow: none;
        font-family: 'Armata';
    }
.track-order-float h4{ margin-top: 0; margin-bottom: 40px !important; }

.form-control .form-group{  margin-bottom: 10px;}

.form-control .form-group input, select, textarea{ width: 100%;  }

.form-control {
    font-family: 'Armata';
    padding-left: 0;
    border: 0;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: 1px solid #a6a6a6;
    font-size: 13px;
    line-height: 21px;
    color: #a6a6a6;
    background: transparent;
    padding-top: 10px;
}

 .form-control input.active {
    color: red;
}
 .form-control:focus {
        border-bottom: 2px solid #30328a;
    }

.input-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    position: absolute;
    top: 7px;
    pointer-events: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    line-height: 19px;
    z-index: 899
}

.input-label.active {
    top: -8px !important
}

.input-label.active {
    font-size: 11px;
    line-height: 15px;
    top: -2px !important
}

.track-order-float.wow.bounceInRight > form .input-label {
    top: 15px
}

.btn-track {
    /*background: #f0503c;*/
    background: #30328a !important;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    transition: all .3s ease 0;
    top: 20px; /* 35px */
    margin-bottom: 5px; /* 15px */
    font-family: 'Armata';
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-track .txt-ldng {
    display: none
}

/* ================== //// Book On ////// ================= */
.banner-one {
    /* height: 520px; */
    padding: 40px 0 ;
    position: relative;
    /* z-index: 999; */
    background: transparent;
    width: 100%;
    top: 0;
    left: 0;
}

    .banner-one .alg {
        margin-top: 100px;
    }

        .banner-one .alg h1 {
            color: #fff;
            font-weight: bold;
            font-family: 'Armata';
        }

        .banner-one .alg span {
            color: #fff;
            font-weight: bold;
            border-bottom: #03A9F4 solid 3px;
        }

.banner-heading {
    text-align: left
}

    .banner-heading span {
        font-style: italic;
        font-weight: 600
    }

.banner-one h1 {
    /*margin-top: 22%;*/
    font-family: "raleway";
    font-size: 48px;
    position: relative;
    z-index: 99;
}

.banner-p {
    text-align: left;
    font-family: "raleway";
    font-size: 24px !important;
    color: #a7a7a7;
    position: relative;
    z-index: 99;
}

    .banner-p span {
        font-weight: 600
    }

.banner-one heading {
    margin-top: 22%
}

.quotes {
    display: none
}

.quotes-2 {
    display: none
}


/* ================== //// \\ End Book On \\ ////// ================= */

/* ================== //// \\ What We Offer \\ ////// ================= */

.bg-sec-1 {
    background: #ffffff;
}
.sec-solution {
    padding: 60px 0
}
.thumb-des {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px
}

.thumb-icon {
    height: 100px;
    width: 100px;
    margin: 0 auto
}

.head-main {
    font-size: 48px !important;
    display: block;
    margin-top: 0 !important;
    color: #2f3748;
    font-weight: bold;
    font-family: 'Armata';
}

    .head-main span {
        font-size: 30px;
        font-style: italic;
        font-weight: normal;
    }

    .thumb-solutions {
        background: transparent;
        border: 0;
        text-align: left;
        margin-bottom: 5px;
        box-shadow: none;
    }
    
        .thumb-solutions .caption {
            padding: 15px 0 38px;
            width: 100%;
            font-family: raleway
        }
    
            .thumb-solutions .caption.padding {
                padding: 15px 41px 38px
            }
    
            .thumb-solutions .caption .steps {
                display: table;
                margin: 0 auto 20px;
                width: 50px;
                height: 50px;
                background-color: #fff;
                overflow: hidden;
                border-radius: 50%;
                text-align: center;
                border: #30328a solid 3px;
            }
    
            
        .thumb-solutions h3 {
            font-size: 24px;
            margin-top: 20px;
            color: #c1c1c1;
            font-weight: 600;
            font-family: 'Armata';
        
        }
    
        .thumb-solutions .p_2 {
            color: #5f5e5e;
            font-family: 'Armata';
            text-align: center;
        }
    
        .thumb-solutions p {
            font-size: 14px;
            line-height: 1.4em;
            margin-bottom: 0;
            text-align: left
        }
    
        .thumb-solutions img {
            width: 100px
        }
    
            .thumb-solutions img.widthzero {
                width: 128px
            }
    
        .thumb-solutions.dashed {
            background: #fff;
            position: relative;
            z-index: 1
        }
    
            .thumb-solutions.dashed::after {
                border-top: 2px dashed #9b9b9b;
                content: '';
                position: absolute;
                height: 5px;
                width: 71%;
                top: 70px;
                z-index: -1
            }

    .sec-solution bg-sec-1 .thumbnail .thumb-solutions .caption h3 {
        color: #000 !important;
    }
    .thumb-solutions_2 {
        display: inline-flex;
    }
    
    .thumb-icon_2 {
        /* height: 100px;
        width: 100px; */
        width:  200px;
        height: 200px;
        margin: 0 auto;
        float: left;
    }
    .thumb-solutions_2 img{
        width: 100%;
    }
    .thumb-solutions_2 .img_2{
        width: 130px;
        margin: auto;
    }
    
    .caption_2 {
        float: left;
    }
    
        .caption_2 .heading {
            color: #5f5e5e;
        }
    
    .thumb-solutions .caption_2 p {
        font-size: 14px;
        line-height: 1.8em;
        margin-bottom: 0;
        text-align: left;
        color: #5f5e5e;
        font-family: 'Armata';
    }
    
    .sec_about {
        background: white;
        text-align: center;
        min-height: 526px;
        box-shadow: 0 1px 5px -1px #ccc;
        
    }
    .sec_about h2 { text-transform: uppercase;
         position: relative; background: #fff; z-index: 99;
         width: 90%;
         margin: auto;
        }

     .sec_about .border_h2{
        position: absolute;
        border-bottom: 6px solid #03A9F4;
        /* z-index: 99; */
        width: 100%;
        top: 35px;
        padding-top: 10px;
        left: 0;
     }
    
        .sec_about p {
            color: #5f5e5e;
            line-height: 30px;
            text-align: left;
            text-align: justify;
            font-size: 20px20px;
            padding: 20px;
            font-weight: bold;
            font-family: 'Armata'


        }
    

/* ================== //// \\ End What We Offer \\ ////// ================= */


/* ================== //// \\ Wyh Choose us  \\ ////// ================= */

.sec-why{ padding: 60px 0; }
.bg-sec-2 {
    /* background: #f1f3f4; */
    /* background: url(assets/images/header-banner-2.jpg) no-repeat scroll top center; */
    position: relative;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

}
.aside_5 {
    float: left;
    padding-top: 17px;
}
.why {
    padding: 30px;
    height: 100%;
    float: left;
    font-size: 20px;
    font-family: 'Raleway-Bold';
}
.aside_4 {
    background: #30328a;
    float: left;
}


.why h2 {
    color: #ffffff;
    border-bottom: 2px solid #03A9F4;
    line-height: 40px;
    padding-bottom: 6px;
    margin-bottom: 10px;
    margin: 0 0 15px;
    font-size: 26px;
    font-family: 'Raleway-Bold';
    text-transform: uppercase;
    display: inline-block;
    clear: both;
    font-family: 'Armata';

}
.why p {
    color: #ccc;
}
.why ul {
    width: 100%;
    float: left;
    /* margin-top: 10px; */
    margin-top: 50px;
    padding-left: 0;
}

    .why ul li {
        color: #fff;
        font-family: 'OpenSans-Semibold';
        font-size: 16px;
        line-height: 36px;
        clear: both;
        list-style-type: none;
    }

        .why ul li span {
        
            display: inline-block;
            margin-top: 8px;
        }

        .why ul li img {
            max-width: 30px;
            display: inline-block;
            margin-right: 10px;
        }

        .why ul li p {
            display: inline;
            font-family: 'OpenSans-Semibold';
        }
        .bg-sec-2 .thumb-icon {
            height: 100px;
            width: 100px;
            float: left;
            margin-right: 15px;
        }
        
        .bg-sec-2 p {
            color: #b7b7b7;
            font-family: 'Armata';
            font-size: 15px;
            line-height: 30px;
        }
        
        .sec-solution .bg-sec-2 h3 {
            color: #a5a5a5 !important;
            margin-top: 0px !important;
            text-align: left;
        }
        
        .bg-sec-2::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #262627d1;
            content: "";
            display: block;
        }
/* ================== //// \\ End Wyh Choose us \\ ////// ================= */

/* ================== //// \\  Ship With us \\ ////// ================= */

.thumb-solutions img.widthzero{ 

    width: 128px;
}
.thumb-solutions .caption .order_no {
    color: #30328a;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}
.thumb-solutions h3.ship-head-size {
    font-size: 20px;
    text-align: center;
    color: #5f5e5e;
    font-weight: bold;
    font-family: 'Armata';
}
.thumb-solutions.dashed::after {
    border-top: 2px dashed #9b9b9b;
    content: '';
    position: absolute;
    height: 5px;
    width: 71%;
    top: 70px;
    z-index: -1;
}
.dashed.dashed-right::after {
    right: 70%;
}

/* ================== //// \\ End Ship With us  \\ ////// ================= */


/* ================== //// \\ Sign In  \\ ////// ================= */

.bg-sec-3 {
    /*background: #f1f3f4*/
    /* background: url('assets/images/header-banner-2.jpg') no-repeat scroll top center; */
    position: relative;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    /* background:#262627d1;*/
    background:#30328a;
}
.bg-sec-3 .right_content {
    width: 100%;
    float: left;
    padding: 70px 49px; 
    font-family: 'Armata';
}
.bg-sec-3 .lift_content { 
    padding: 10px 0;
    height: 558px;
    overflow: hidden;
    padding-top: 0;
    text-align: center;
    margin: auto;
    }

.bg-sec-3 .lift_content .location_img{ overflow: hidden;}
 .bg-sec-3 h1 { color: #fff; margin-bottom:20px ; }
.bg-sec-3 p{
    color: #9c9b9b;
    font-size: 17px;
    padding: 0 0 16px;
}
.bg-sec-3 .getapp{  
     float: left;
     display: inline-flex; 
     padding: 50px 0; float: left;
     }
     .bg-sec-3 .getapp .span1{ /*width: 202px;*/ padding: 0 20px; padding-left: 0px;}
     /* .bg-sec-3 .getapp .span2{ 
        width: 190px;
        padding-left: 0px;
        border: #797777 solid 2px;
        border-radius: 9px;
        background-size: cover;
        height: 53px;
    
     } */

 .bg-sec-4 {
        position: relative;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        background-image: url(../../../assets/images/career-bg2.jpg);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .bg-sec-4::before { position: absolute;
        z-index: 99;
        background: rgba(0, 0, 0, 0.82);
        top: 0; left: 0;
        content: " ";
        width: 100%;
        height: 100%;
    }
    .careers_wrap{ padding: 20px 0; position: relative; z-index: 999; }


.contact-sec{ 
     padding: 90px 0;
    padding-bottom: 0px !important;}

.bg-sec-3 .track-order-float { padding: 50px 17px;}

.bg-sec-3::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #262627d1;
    content: "";
    display: block;
}

.ship {
    box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.14);
    /* min-height: 200px; */
    /* min-height: 390px; */
    min-height: 331px;
    height: auto;
    background-color: #ffffff;
    height: 100%;
    margin: auto;
    float: right;
    color: #4a4c4a;
    

}
.text-center {
    text-align: center !important;
}
.img-truck {
    /* margin: 100px 0 0 60px; */
    margin: 25px 0 20px 0;
    /* width: 100%; */
}
.track-order-float.left {
    float: left;
}

.track-order-float.left.dowm-form {
    /* right: -100px; */
    top: 0;
    right: 0;
    box-shadow: none;
}
.track-order-float .btn-track {
    /* background: #f0503c; */
    background: #30328a;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    transition: all .3s ease 0;
    top: 20px;
    margin-bottom: 5px;
    font-family: 'Armata';
    font-weight: bold;
    letter-spacing: 1px;
}

.ezbook{

    position: absolute;
    background: whitesmoke;
    width: 35px;
    height: 35px;
    z-index: 999;
    float: left;
    padding: 6px 6.3px;
    right: -22px;
    box-shadow: 0 0 15px #888;
}

.ez_r_open{

    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    z-index: 999;
    float: left;
    text-align: center;
    cursor: pointer;
    /* right: 0; */
    border: #30328a solid 1px;
    font-size: 14px;
    color: #30328a;
    margin: auto;
 }

/* ================== //// \\ End Sign In  \\ ////// ================= */

/* ================== //// \\ Media Qurey \\ ////// ================= */

@media (min-width: 600px){
.aside { flex: 1 auto; }

}

@media (max-width: 1024px){
#floating_panel{ padding: 20px 30px; }
#floating_panel .form-group{ margin-bottom: 10px;  }
.track-order-float .btn-track{top: 10px; }
.sec_about{ min-height: inherit; }
.why{padding: 20px; }
.ezbook{ position: relative;  float: right; }
.signIn{ display: block; }

}

@media(min-width:992px) and (max-width:1199px) {
    .hidden-lg.hidden-md { display: none !important; }
    .signIn{ display: block; }
}

@media(max-width:768px) {

    .banner-one .alg { display: inline-block; }
    .banner-one .alg span { float: left; }
    .footer .footer-inner { font-size: 12px; }
    .ez_copyright .designed {  font-size: 12px; }
    .ez_copyright .designed a { font-size: 12px; }
    .ez_copyright .designed span { padding: inherit !important;}
    .thumb-solutions .caption.caption.padding { padding: 15px 0 38px; }
    .ezbook{ position: relative; right: -12px; float: right; }
    .signIn{ display: block; width: 90%; }
 
}


@media(max-width:767px) {
.jumbotron.h-100.cover.bg1.m-b-0.banner-one {
        padding-bottom: 0 !important; }
.track-order-float { padding: 25px 40px; min-width: 100%; }
#floating_panel{ position: relative;}
.signIn{ display: block; }
}
@media(max-width: 600px) {
    .dashed.dashed-right::after{ display: none; }
    .signIn{ display: block; }
}
@media(max-width: 480px) {
    .dashed.dashed-right::after{ display: none; }
    .whatsapp .whatsapp_no span { font-size: 12px; }
    .jumbotron_2{ width: 100%; float: left;}
    .ez_top_login .login_box{ width: 100%;  float: left;}
    .track-order-float{ padding: 5px;}
    .bg-sec-3 .track-order-float{ padding: 0; }
    .ez_top_login{ top:15px;}
    /* .ezbook{ position: relative; right: 0; float: right; } */
    .ezbook{  position: relative;
    right: 0;
    float: right;
    top: 38px;
    right: 0; 
    z-index: 99999999999;
    margin-right: -5px;
    }
    .signIn{ display: block; width: 100%; }
    .forgot_2{ }
   
}

@media (max-width: 350px){
.track-order-float {
    min-height: inherit;
    padding: 25px 10px;
}
.whatsapp .whatsapp_no span { font-size: 12px; }
#floating_panel{ padding: 15px 10px; }
.signin_signout{ font-size: 10px;}

}

@media (max-width: 320px){
    .bg-sec-3{ display: inherit; }

.track-order-float { min-width: 100%; padding: 25px 0px;}
.why ul li { display: table; }
.why ul li span { display: table-cell; }
.whatsapp .whatsapp_no span { font-size: 12px; padding: 12px; }
.whatsapp .whatsapp_no_ion i{ padding: 12px; }
#floating_panel{ min-width: 100%;  padding: 15px 10px; }
.track-order-float.left.dowm-form input{ width: 100%; background:  red !important }

} 
