.modal .custom_poup{ width: 600px;}
.agent_amount_value{
    width: 70%;
    float: right;
    text-align-last: end;
    display: table;
   }
   .agent_amount_value:nth-last-child(3n+2){
    border-bottom: #d8d8d8 solid 1px;
    clear: both;

   }
   .rupee_icon{
    width: 60px;
    text-align-last: right;
    float: left;
   }

.bonus{
    width: 60px;
    text-align-last: left;
    display: table-cell;
}
.mrgn30top{  width: 100%; margin-top: 30px; float: left;}

 @media (max-width: 480px){
    .modal .custom_poup { width: 100%; margin: auto; }
    .agent_amount_value{ width: 100%;}
    .mrgn30px{ margin-top: 10px !important;}
}

.fontchange{
    font-size: 12px;
}
