<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Agent Payments</h2>
    </div>
    <div class="row mrgn30px">
      <div class="div_border">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>From Date</label><span class="manditory">*</span>
            <!-- <material-datepicker [options]="MOMENT_DATE_FORMATS" [(date)]="yourModelDate"></material-datepicker> -->
            <input type="Date" [(ngModel)]="AgentDetails.txtFromDate" id="txtFromDate" name="txtFromDate" class="form-control">
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>To Date</label><span class="manditory">*</span>
            <input type="date" [(ngModel)]="AgentDetails.txtToDate" id="txtToDate" name="txtToDate" class="form-control">
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Agents</label>
            <select [(ngModel)]="ctselectedValue" id="ddlAgents" class="form-control" name="SelectAgent" required>
              <option disabled [value]="0">Select</option>
              <option *ngFor="let row of dtAgents" [value]='row.AgentID'>{{row.AgentName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-1 col-sm-2 col-xs-4 col-md-push-0 col-sm-push-4 col-xs-push-8">
          <div class="form-group" style="margin-top: 24px;">
            <input type="button" value="View" (click)="GetPendingPaymentDetails();" class="btn comn_btn">
          </div>
        </div>

        <div class="form-group col-md-2 col-sm-6 pull-right" style="margin-top: 24px;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtAgentregSearch" placeholder="search" class="form-control ">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>


    <div class="mrgn30px">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-1">Date</th>
              <th class="col-md-1">BookingID</th>
              <th class="col-md-1">Agent Name</th>
              <th class="col-md-2">From Address</th>
              <th class="col-md-2">To Address</th>
              <th class="col-md-1 text-right">User fare</th>
              <th class="col-md-1">Distance(KM's)</th>
              <th class="col-md-1 text-right">Commission</th>
              <th class="col-md-1 text-right">Rating</th>
              <th class="col-md-1 text-right">Bonus</th>
              <th class="col-md-1">Pay</th>
            </tr>
          </thead>
          <tbody class="TextSize" *ngIf="dtbookingDetails!==undefined && dtbookingDetails.length>0">
            <tr *ngFor="let row of dtbookingDetails|filter:txtAgentregSearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
              <td class="col-md-1">{{row.BookingDate}}</td>
              <td class="col-md-1">{{row.BookingID}}</td>
              <td class="col-md-1">{{row.AgentName}}</td>
              <td class="col-md-2">{{row.Source}}</td>
              <td class="col-md-2">{{row.Destination}}</td>
              <td class="col-md-1 text-right">{{row.TotalFare}}</td>
              <td class="col-md-1 text-center">{{row.Distance_KM}}</td>
              <td class="col-md-1 text-right">{{row.AgentComission}}</td>
              <td class="col-md-1 text-right">{{row.Rating}}</td>
              <td class="col-md-1 text-right">{{row.AgentBonus}}</td>
              <td class="col-md-1 text-center">
                <span style="cursor: pointer;color:#2a409a;">
                  <i class="fa fa-credit-card fa-2x mrgn15px" (click)="MakePayment(row);" data-toggle="modal"
                    data-target="#PaymentModal"></i>
                </span>
              </td>
            </tr>
            <tr colspan=12 *ngIf="dtbookingDetails.length==0">No Data</tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <!-- <div class="col-md-2 fontchange">
                  Total Records : {{lblTotalCount}}
                </div> -->
                <div class="col-md-2 fontchange">
                  Total fare : {{lblTotFare|number:'1.1-2'}}
                </div>
                <div class="col-md-2 fontchange">
                    Total Distance : {{lblTotdistance|number:'1.1-2'}}
                  </div>
                <div class="col-md-2 fontchange">
                  Tot Commission : {{lblTotCommission|number:'1.1-2'}}
                </div>

                <div class="col-md-2 fontchange">
                  Tot Bonus : {{lblTotBonus|number:'1.1-2'}}
                </div>
                <div class="col-md-3"></div>
                <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="false">
      <div class="modal-dialog custom_poup">

        <!-- Modal content-->

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title PaymentHeader"><b>{{lblAgentName}}</b></h3>
          </div>
          <div class="modal-body">
            <div class="row PaymentStyle">
              <div class="col-md-12 col-xs-12">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  Booking ID
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  :
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <span class="agent_amount_value" style="color:seagreen;"> {{lblBookingID}} </span>
                </div>
              </div>
              <div class="col-md-12 col-xs-12 mrgn30top">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  Agent Amount
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  :
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <div class="agent_amount_value">
                    <span class="bonus">Fare</span><span><span class="rupee_icon"><i class="fa fa-inr" aria-hidden="true"></i></span>{{lblAgentAmount}}
                      /- </span></div>

                  <div class="agent_amount_value"><span class="bonus">Bonus</span><span><span class="rupee_icon"><i
                          class="fa fa-inr" aria-hidden="true"></i></span>{{lblBonus}} /- </span></div>
                  <div class="agent_amount_value"><span class="bonus">Total</span><span><span class="rupee_icon"><i
                          class="fa fa-inr" aria-hidden="true"></i></span>{{lblTotal}} /-</span> </div>
                </div>
              </div>

              <div class="col-md-12 mrgn30top">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  Payment Type
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  :
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <input type="text" class="form-control" id="txtPaymentType" [(ngModel)]="txtPaymentType" placeholder="Cash / Cheque / Online"
                    required>
                </div>
              </div>

              <div class="col-md-12 mrgn30top">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  Description
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                  :
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                  <textarea type="text" class="form-control" id="txtDesc" [(ngModel)]="txtDesc" placeholder="Description"
                    required></textarea>
                </div>
              </div>


              <div class="col-md-12 mrgn30top">
                <div class="col-md-2 pull-right">
                  <input type="button" value="Submit" (click)="PaymentDone();" class="btn comn_btn">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>