<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Agent Careers</h2>
    </div>
    <!-- <div *ngIf="httpLoader" class="httpSpinner"></div> -->

    <div class="row mrgn30px">

      <div class="free_space"></div>

      <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <!-- <th>Agent ID</th> -->
                <th class="col-md-2">Requested Date </th>
                <th class="col-md-2">Full Name</th>
                <th class="col-md-2">Mobile Number</th>
                <th class="col-md-1">Email ID</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let roy of dtRequests |filter:txtSearch | paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <td>{{roy.RequestDate}}</td>
                <td class="col-md-2">{{roy.FullName}}</td>
                <td class="col-md-2">{{roy.MobileNo}}</td>
                <td class="col-md-1">{{roy.EmailID}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>