

<div class="container">
<div class="change_form">

<form>

  <h2>Change Password</h2>


  <div class="form-group">
    <label>New Password</label>
    <input type="password" class="form-control" value=""id="txtNewPwd" [(ngModel)]="txtNewPwd" placeholder="New Password" maxlength="15" minlength="10">
  </div>


  <div class="form-group">
      <label>Confirm New Password</label>
      <input type="password" class="form-control" id="txtCnfPwd" [(ngModel)]="txtCnfPwd" 
      placeholder="Confirm New Password" maxlength="15" minlength="10">
    </div>


    <div>
  <input type="button" class="btn comn_btn change_submit" value="Update" (click)="fnChangePassword();">
    </div>


</form>

</div>
</div>

