.change_form{ width: 40%; margin: 15% auto; border: 1px solid #ddd; padding: 40px;padding-bottom: 60px;}
.change_form .form-group{ margin-bottom: 10%; }
.change_form .form-group .form-control{ border-radius: 0; border: rgb(48, 50, 138) solid 1px;}
.change_form .form-group label{ color: #6d6d71;}
.change_form h2{ margin-top: 0; margin-bottom: 30px; font-weight: bold;}
.change_submit{ width: 30%; float: right; font-weight: bold; letter-spacing: 1px; border-radius: 0;}
