<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Agent Register</h2>
    </div>
    <div class="row mrgn30px">
      <div class="col-lg-12 col-md-12 div_border">
        <div class="free_space"></div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>From Date</label><span class="manditory">*</span>
            <!-- <material-datepicker [options]="MOMENT_DATE_FORMATS" [(date)]="yourModelDate"></material-datepicker> -->
            <input type="Date" [(ngModel)]="AgentDetails.txtFromDate" id="txtFromDate" name="txtFromDate" class="form-control">
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>To Date</label><span class="manditory">*</span>
            <input type="date" [(ngModel)]="AgentDetails.txtToDate" id="txtToDate" name="txtToDate" class="form-control">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Agents</label>

            <select [(ngModel)]="ctselectedValue" id="ddlAgents" class="form-control" name="SelectAgent" required>
              <option disabled [value]="0">Select</option>
              <option *ngFor="let row of dtAgents" [value]='row.AgentID'>{{row.AgentName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-1 col-sm-2 col-xs-4 col-md-push-0 col-sm-push-4 col-xs-push-8">
          <div class="form-group" style="margin-top: 24px;">
            <input type="button" value="View" (click)="GetDetails();" class="btn comn_btn">
          </div>
        </div>

        <div class="form-group col-md-2 col-sm-6 pull-right" style="margin-top: 24px;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtAgentregSearch" placeholder="search" class="form-control ">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mrgn15px">
      <div class="col-md-12 text-right">
        <span style="cursor: pointer;font-size: 16px;font-weight:600;color:green;text-decoration: underline;">
          <i (click)="fnFreeRides();"><b>Free Rides</b></i>
        </span>
      </div>
  
    </div>

    <div class="row mrgn30px">
      <div class="mrgn15px">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-md-1">Date</th>
                <th class="col-md-1">BookingID</th>
                <th class="col-md-1">Mobile No.</th>
                <th class="col-md-1">Customer</th>
                <th class="col-md-1">Agent</th>
                <th class="col-md-2">From Address</th>
                <th class="col-md-2">To Address</th>
                <th class="col-md-1 text-right">User fare</th>
                <th class="col-md-1">Distance(KMs)</th>
                <th class="col-md-1text-right">Commission</th>
                <th class="col-md-1">Status</th>
              </tr>
            </thead>
            <tbody class="TextSize" *ngIf="dtbookingDetails!==undefined && dtbookingDetails.length>0">
              <tr *ngFor="let row of dtbookingDetails|filter:txtAgentregSearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <td class="col-md-1">{{row.BookingDate}}</td>
                <td class="col-md-1">{{row.BookingID}}</td>
                <td class="col-md-1">{{row.SenderMobile}}</td>
                <td class="col-md-1">{{row.CustomerName}}</td>
                <td class="col-md-1">{{row.AgentName}}</td>
                <td class="col-md-2">{{row.Source}}</td>
                <td class="col-md-2">{{row.Destination}}</td>
                <td class="col-md-1 text-right">{{row.TotalFare}}</td>
                <td class="col-md-1 text-center">{{row.Distance_KM}}</td>
                <td class="col-md-1 text-right">{{row.AgentComission}}</td>
                <td class="col-md-1">{{row.BookingStatus}}</td>
              </tr>
              <tr colspan=12 *ngIf="dtbookingDetails.length==0">No Data</tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-2">
                    Total Records : {{lblrecordCount}}
                  </div>
                  <div class="col-md-2">
                    Total UserFare : {{lblTotUserFare|number:'1.1-2'}}
                  </div>
                  <div class="col-md-2">
                    Total Distance : {{lblTotdistance|number:'1.1-2'}}
                  </div>
                  <div class="col-md-3">
                    Total Commission : {{lblTotComission|number:'1.1-2'}}
                  </div>
                  <div class="col-md-3">
                    <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                    <!-- <pagination-controls class="pagination" (pageChange)="PageNo = $event"></pagination-controls> -->
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>


        <!-- Modal -->
        <div class="modal fade" id="FreeRideModal" role="dialog" data-backdrop="false">
            <div class="modal-dialog custom_poup" style="width:85%;">
      
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title PaymentHeader"><b>Free Rides</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row mrgn30px">
                        <div class="mrgn15px">
                          <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th class="col-md-1">Date</th>
                                  <th class="col-md-1">BookingID</th>
                                  <th class="col-md-1">Mobile No.</th>
                                  <th class="col-md-1">Customer</th>
                                  <th class="col-md-1">Agent</th>
                                  <th class="col-md-2">From Address</th>
                                  <th class="col-md-2">To Address</th>
                                  <th class="col-md-1 text-right">User fare</th>
                                  <th class="col-md-1">Distance(KMs)</th>
                                  <th class="col-md-1text-right">Commission</th>
                                  <th class="col-md-1">Status</th>
                                </tr>
                              </thead>
                              <tbody class="TextSize" *ngIf="dtFreebookingDetails!==undefined && dtFreebookingDetails.length>0">
                                <tr *ngFor="let row of dtFreebookingDetails| paginate:{itemsPerPage: 5,currentPage: pageNo1 }">
                                  <td class="col-md-1">{{row.BookingDate}}</td>
                                  <td class="col-md-1">{{row.BookingID}}</td>
                                  <td class="col-md-1">{{row.SenderMobile}}</td>
                                  <td class="col-md-1">{{row.CustomerName}}</td>
                                  <td class="col-md-1">{{row.AgentName}}</td>
                                  <td class="col-md-2">{{row.Source}}</td>
                                  <td class="col-md-2">{{row.Destination}}</td>
                                  <td class="col-md-1 text-right">{{row.TotalFare}}</td>
                                  <td class="col-md-1 text-center">{{row.Distance_KM}}</td>
                                  <td class="col-md-1 text-right">{{row.AgentComission}}</td>
                                  <td class="col-md-1">{{row.BookingStatus}}</td>
                                </tr>
                                <tr colspan=12 *ngIf="dtFreebookingDetails.length==0">No Data</tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td colspan="12">
                                    <div class="col-md-2">
                                      Total Records : {{lblFreeRecordCount}}
                                    </div>
                                    <div class="col-md-2">
                                      Total UserFare : {{lblFreeTotUserFare|number:'1.1-2'}}
                                    </div>
                                    <div class="col-md-2">
                                      Total Distance : {{lblFreeTotdistance|number:'1.1-2'}}
                                    </div>
                                    <div class="col-md-3">
                                      Total Commission : {{lblFreeTotComission|number:'1.1-2'}}
                                    </div>
                                    <div class="col-md-3">
                                      <pagination-controls class="pagination" (pageChange)="pageNo1 = $event"></pagination-controls>
                                      <!-- <pagination-controls class="pagination" (pageChange)="PageNo = $event"></pagination-controls> -->
                                    </div>
                                  </td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                  
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>

  </div>
</div>