<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>
<div *ngIf="httpLoader" class="httpSpinner"></div>
<router-outlet>


</router-outlet>

<section *ngIf="isLoggedIn$ | async;else footer"></section>

<ng-template #footer>
<app-footer ></app-footer>
</ng-template>