
   <div *ngIf="httpLoader" class="httpSpinner"></div>
    <form>
      <div class="group">
    
        <input id="txtLoginId" [(ngModel)]="loginObj.UserName" 
        maxlength="40" name="last_name" size="20" type="text" required autocomplete="off">
        <label>Mobile No.</label>
      </div>
      <div class="group">
            <input id="txtPassword" [(ngModel)]="loginObj.password" (keydown)="UserPressOnEnter($event)"
            maxlength="20" name="Password" size="20" type="password" required="required">
      
        <label>Password</label>
      </div>
      <input type="button" class=" btn btn-track btn-block sign-in" value="Login" (click)="Login()" />
  
    </form>
 
