/* input flid Material Design  ------------------------------- */

.track-order-float h4{ margin-top: 0; margin-bottom: 40px !important; }

.group 			  { 
    position:relative; 
    margin-bottom:30px;
  }
  input 				{
    font-size: 13px;
    padding: 5px 10px 0px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus{ outline:none; }

  /* active state */
   /* input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
    background: green !important;
  }  */
  input:focus ~ label, input:valid ~ label 		{
    top:-18px;
    font-size:14px;
    color:#5264AE;
  }

  .signIn{
    margin: auto;
    display: table;
    background: red !important;


  }

  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:13px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top: 0px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
 
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

  
  /* BOTTOM BARS ================================= */
  /* .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  } */
  
  /* active state */
  /* input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  } */
  
  /* HIGHLIGHTER ================================== */
  /* .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  } */
  
  /* active state */
  /* input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  } */
  
  /* ANIMATIONS ================ */
   @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  } 


  @media (max-width: 320px){

 input{ width: 100%; }
    
    } 
    