<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Items</h2>
    </div>

    <div class="row mrgn30px">
      <div *ngIf="httpLoader" class="httpSpinner"></div>


      <div class="col-lg-4 col-md-4 div_border">
        <div class="free_space"></div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Item Name</label>
            <input type="text" [(ngModel)]="objItems.txtItem" id="txtItem" name="txtItem" class="form-control"
              placeholder="Item Name" (keypress)="_serv.fnBlockSpecialchar($event);">
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Category</label>
            <!-- (change)="SelectedCategory($event.target.value)" -->
            <select [(ngModel)]="ctselectedValue" id="ddlCategory" class="form-control" name="SelectItem" required>
              <option disabled [value]="0">Select</option>
              <option *ngFor="let row of dtCategory" [value]='row.CategoryID'>{{row.CategoryName}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label>Weight</label>
            <input type="text" id="txtWeight" [(ngModel)]="objItems.txtWeight" (keypress)="_serv.fnNumbersWithDot($event)"
              name="txtWeight" maxlength="4" class="form-control" placeholder="Weight">
          </div>
        </div>


        <div class="col-md-6 col-sm-6">
          <div class="form-group">
            <label>UOM </label>
            <!-- (change)="SelectedUOM($event.target.value)" -->
            <select id="ddlUOM" [(ngModel)]="UomselectedValue" class="form-control" name="SelectItem" required>
              <option [value]="0" disabled>UOM</option>
              <option *ngFor="let row of dtUom" [value]='row.id | json'>{{row.UOM}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Description</label>
            <input type="text" id="txtDesc" [(ngModel)]="objItems.txtDesc" name="txtDesc" class="form-control"
              placeholder="Description">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group is_active is_active_sm">
            <input type="checkbox" [(ngModel)]="objItems.chkActive" name="chkActive" value="IsActive"> Is Active
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" value={{btnText}} class="btn comn_btn" (click)="SaveItem();">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group">
            <label>&nbsp;</label>
            <input type="button" value="Cancel" class="btn comn_btn_cls" (click)="Cancel();">
          </div>
        </div>

      </div>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="col-md-4 col-sm-6 pull-right" style="padding: 0;">
          <div class="form-group">
            <div class="input-group">
              <input type="text" [(ngModel)]="txtSearch" maxlength="4" class="form-control" placeholder="Search">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
        <div class="table-responsive cus_master_tb">


          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="col-md-4">Item Name</td>
                <td class="col-md-4">Category</td>
                <td class="col-md-2">Weight</td>
                <!-- <td class="col-md-2">Description</td> -->
                <td class="col-md-1 text-center"> IsActive</td>
                <td class="col-md-1 text-center">Options</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of dtItems|filter:txtSearch | paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <td class="col-md-4">{{row.ItemName}}</td>
                <td class="col-md-2">{{row.CategoryName}}</td>
                <td class="col-md-2">{{row.Weight}} {{row.UOM}}</td>
                <!-- <td class="col-md-2">{{row.Description}}</td> -->
                <td class="col-md-1 text-center">{{row.IsActiveStatus}}</td>
                <td class="col-md-1 col-sm-1 text-center">
                  <span class="pull-left" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" (click)="fnEditItem(row);"
                      title="Edit"></i></span>
                  <span class="pull-right" style="cursor: pointer; color: red;"><i class="fa fa-ban" aria-hidden="true"
                      (click)="fnInActiveItem(row.ItemID)" title="In Active"></i></span>
                </td>
              </tr>
              <!-- <tr data-ng-show="dtItems.length == 0">
              <td colspan="12" class="text-center"><b>No Records Found</b></td>
            </tr> -->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                    <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>


          <!-- <pagination-controls  id="some_id"
                      (pageChange)="pageChanged($event)"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls> -->
          <!-- </ngx-paginate> -->
        </div>
      </div>
    </div>
  </div>
</div>