<div class="sub_wrap">
  <div class="container">

    <div class="row">
      <h2 class="lable_h">Rate Mapping</h2>
    </div>

    <div class="row mrgn30px">

      <div *ngIf="httpLoader" class="httpSpinner"></div>

      <div class="col-lg-4 col-md-4 div_border">
        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>KiloMeter :&nbsp;</label><span class="manditory">*</span>
            <input type="text" [(ngModel)]="objratemaping.txtKilometer" id="txtKilometer" name="txtKilometer"
              (keypress)="_service.fnNumbersWithDot($event);" class="form-control" placeholder="KiloMeter">
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>KiloMeter Amount :&nbsp;</label><span class="manditory">*</span>
            <input type="text" [(ngModel)]="objratemaping.txtkmamt" id="txtkmamt" name="txtkmamt" (keypress)="_service.fnNumbersWithDot($event);"
              class="form-control" placeholder="km Amount">
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Weight in grms :&nbsp;</label><span class="manditory">*</span>
            <input type="text" [(ngModel)]="objratemaping.txtWeightgrms" id="txtWeightgrms" name="txtWeightgrms"
              (keypress)="_service.fnNumbersWithDot($event);" class="form-control" placeholder="Weight In grams">
          </div>
        </div>

        <div class="col-md-12 col-sm-6">
          <div class="form-group">
            <label>Weight Amount :&nbsp;</label><span class="manditory">*</span>
            <input type="text" [(ngModel)]="objratemaping.txtweightamt" id="txtweightamt" name="txtweightamt"
              (keypress)="_service.fnNumbersWithDot($event);" class="form-control" placeholder="weight Amount">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4  col-lg-offset-4 col-md-offset-4 col-sm-offset-8 col-xs-offset-4">
          <div class="form-group">
            <input type="button" value={{btnTextsave}} class="btn comn_btn" (click)="SaveRateMapping();">
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-4">
          <div class="form-group">
            <input type="button" value={{btnTextclear}} class="btn comn_btn_cls" (click)="ClearRateMapping();">
          </div>
        </div>
      </div>


      <div class="col-lg-8 col-md-8 ">
        <div class="col-md-4 col-sm-6 pull-right" style="padding: 0;">
          <div class="form-group">
            <div class="input-group">
              <input type="text" [(ngModel)]="txtRatemappingSearch" placeholder="search" class="form-control ">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>

        <div class="mrgn15px">
          <div class="table-responsivecus_master_tb">

            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-right">Kilo Meter</th>
                  <th scope="col" class="text-right">Km Amount</th>
                  <th scope="col" class="text-right">Weight in grams</th>
                  <th scope="col" class="text-right">weight Amount</th>
                  <th scope="col" class="text-center">Options</th>
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dtRateMapingDetails|filter:txtRatemappingSearch | paginate:{ 
                itemsPerPage: 5,
                currentPage: PageNo }">
                  <td class="text-right">{{row.KM}}</td>
                  <td class="text-right">{{row.KMAmount}}</td>
                  <td class="text-right">{{row.Weight_gms}}</td>
                  <td class="text-right">{{row.WeightAmount}}</td>
                  <td class="text-center"> <span style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"
                        (click)="EditRateMapping(row);" title="Edit"></i></span></td>

                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                      <pagination-controls class="pagination" (pageChange)="PageNo = $event"></pagination-controls>
                    </div>
                  </td>
                </tr>
              </tfoot>

            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>