/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* You can add global styles to this file, and also import other style files */

/* latin-ext */
@font-face {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v8/gokvH63_HV5jQ-ENnTR2c2s.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    src: local('Armata Regular'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v8/gokvH63_HV5jQ-ENkzR2.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    position: relative;
    min-height: 100%
}

body {
    /*-webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Armata;
    -webkit-font-smoothing: antialiased;
    /*font-family: "Open Sans",Arial,Helvetica,sans-serif;*/
    padding: 70px 0 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}

button,
button:focus,
a:hover,
a:focus {
    outline: 0
}

h1,
h2,
h3,
h4 {
    /*font-family: 'raleway'*/
    font-family: 'Armata';
}
table thead {
    font-size: 12px;
    font-weight: bold;
}
img{
    vertical-align: middle;
    max-width: 100%;
}

.gmnoprint{ display: none;}
/* .gm-control{ display: none !important; } */
 button draggable{ display: none;}



 .ngx-pagination .current{   
     padding: 0.1075rem 0.625rem !important;
    background: rgb(48, 50, 138) !important;
}


.free_space{ width: 100%; height: 15px; float: left; clear: both; }
.mrgn5px{
    margin-top: 5px;
}
.mrgn10px{
    margin-top: 10px;
}
.mrgn20px{
    margin-top: 20px;
}
.mrgn15px{
    margin-top: 15px;
}

.mrgn30px{
    margin-top: 30px;
}

.manditory{
    color: red;
}


/* Table body Text Size */
.TextSize{
    font-size: 12px;
    font-family: calibri;
    font-weight: 600;
}

/* Modal Effects */

.modal{ background: rgba(0, 0, 0, 0.27);}

.modal .custom_poup{
    position: relative;
    top: 15%;
    width: 400px;
}
.modal-header {
    padding: 10px !important;
    border-bottom: 1px solid #e5e5e5;
    background: #30328a;
    color: #fff;
}
.modal-title { line-height: normal !important;} 

.modal-header .close {
    margin-top: -2px;
    color: #fff;
    background: red;
    padding: 1px 6px 3px;
    border-radius: 50px;
    border: rgb(48, 50, 138) solid 1px;
    box-shadow: none;
   
   }
   .modal-header .close:hover{ opacity: 9; }

   .PaymentStyle{
    font-size: 15px;
    font-weight: 600;
    font-family: calibri;
}

.PaymentHeader{
    text-align: center;
    font-family: calibri;
}


/* Modal Effects */

.div_border{
border:1px solid #ddd;
border-radius:5px;
display: inline-block;
padding: 15px 0 5px;
}

.is_active{ margin: 30px auto; }

.div_border_padding {  padding-bottom: 10px; }
    

.ez_search { 
display: inline-block;
margin-bottom: 10px;
}
.cus_master_tb{ 
 float: left;
 width: 100%;
}

 .sign-in {
    background: #30328a;
    color: #fff !important;
    font-size: 20px !important;
    padding: 6px !important;
    font-weight: bold;
    border: none;
    text-decoration: none !important;
  }
 .sign-in:hover{ background:#090b63; color: #fff !important;
       text-decoration: none !important;
}

  .signin_signout{ 
    /* background: #636262; */
    color: #6f6f6f;
    padding: 0 8px;
    padding-left: 0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    border: #cecece solid 1px;
    font-weight: bold;
    text-decoration: none !important;
    float: left;
    
 
}
.signin_signout:hover{  color: #000; }
.signin_signout i{
    /* background: #2196F3; */
    padding: 9px;
    margin-right: 5px;
    border-right: #cecece solid 1px;
}

.forgot_password{
    font-size: 12px;
    padding: 8px;
    float: right;
    border: none !important;
}

input[type=file] {
    display: block;
    border: none;
    box-shadow: none;
    padding-left: 0;
}

/*.wrapper{
    background: #f3f3f3;
    margin: 10px auto;
} */


.ind91{ left: 0;}
.comn_btn{ width: 100%; background: #30328a; color: white !important;}
.comn_btn:hover{ background: #292ca7; }

.comn_btn_cls{ width: 100%; background: #d20e00; color: white !important; }
.comn_btn_cls:hover{ background: #f31202 ;}
.sub_wrap{width: 100%; background: #f3f3f3; padding-bottom: 8px; }
.lable_h{  color: #000000; text-align: left; font-weight: bold; padding: 10px;}

@media (max-width: 1024px){

     input{width: 100% !important;}
    .div_border{ padding-left: 0 !important; padding-right: 0 !important;}
    .lift_content{ height: inherit !important; padding: 0 !important;}
    .mrgn30px { margin-top: 0px !important;}
}

@media (max-width: 768px){

    .is_active_sm{ margin: 30px auto; }
    .div_border{ margin: auto auto 15px;}
    .track-order-float{ padding: 30px 10px; }
    .lift_content{ height: inherit !important; padding: 0 !important;}
    .right_content{ padding: 0 !important; padding-top: 70px !important}
    .mrgn30px { margin-top: 0px !important;}
}


@media (max-width: 480px){

    input{width: 100% !important;}
    .track-order-float h4{ text-align: center !important; margin-top: 10px !important; }
    .div_border{ display: flow-root; margin: 10px; }
    .lable_h{ text-align: center;  margin-left: 10px;}
    .thumb-solutions_2{ display: inline-block !important;}
    .thumb-icon_2{ height: inherit !important; float: none !important; clear: both;}
    .caption{ padding: 0 !important; text-align: center;}
    .caption_2 p{ text-align: center !important}
   .bg-sec-3 .lift_content{ height: inherit !important;}
   .bg-sec-3 .right_content{ padding: 0 !important;}
   .bg-sec-3 .getapp{ padding: 0;}
   .bg-sec-4{ background-size: cover !important;}
   .careers_btn{ width: 100% !important;}
   .mrgn30px { margin-top: 0px !important;}
   .modal .custom_poup{ width: 90%; }
   }
   /* @media (max-width: 320px){
   .track-order-float h4{ font-size: 18px !important}
   } */

