<div class="sub_wrap">
  <div class="container">
    <div class="row">
      <h2 class="lable_h">Payment Register</h2>
    </div>
    <div class="row mrgn30px">
      <div class="div_border">
        <div class="col-md-3 col-sm-5">
          <div class="form-group">
            <label>From Date</label><span class="manditory">*</span>
            <!-- <material-datepicker [options]="MOMENT_DATE_FORMATS" [(date)]="yourModelDate"></material-datepicker> -->
            <input type="Date" [(ngModel)]="PaymentDetails.txtFromDate" id="txtFromDate" name="txtFromDate" class="form-control">
          </div>
        </div>

        <div class="col-md-3 col-sm-5">
          <div class="form-group">
            <label>To Date</label><span class="manditory">*</span>
            <input type="date" [(ngModel)]="PaymentDetails.txtToDate" id="txtToDate" name="txtToDate" class="form-control">
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-4 col-md-push-0 col-sm-push-0 col-xs-push-8">
          <div class="form-group" style="margin-top: 24px;">
            <input type="button" value="View" (click)="ViewPaymentDetails();" class="btn comn_btn">
          </div>
        </div>


        <div class="form-group col-md-3 col-sm-6 pull-right" style="margin-top: 24px;">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtpaymentsearch" placeholder="search" class="form-control ">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mrgn30px">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-md-2">Agent Name</th>
              <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span>&nbsp;Amount Collected</th>
              <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span>&nbsp;Amount Paid</th>
              <th class="col-md-1">Agent mobile</th>
              <th class="col-md-1 text-center">View</th>
            </tr>
          </thead>
          <tbody class="TextSize" *ngIf="dtpaymentDetails!==undefined && dtpaymentDetails.length>0">
            <tr *ngFor="let row of dtpaymentDetails|filter:txtpaymentsearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">

              <td class="col-md-2">{{row.AgentName}}</td>
              <td class="col-md-1">{{row.AmountCollected}}</td>
              <td class="col-md-1">{{row.AgentAmount}}</td>
              <td class="col-md-1">{{row.PersonalMobileNo}}</td>
              <td class="col-md-1 text-center">
                <span style="cursor: pointer;color:#2a409a;">
                  <i class="far fa-credit-card fa-2x mrgn15px" (click)="ViewAgentWisePaymentDetails(row);" data-toggle="modal"
                    data-target="#PaymentModal"></i>
                </span>
              </td>
            </tr>
            <tr colspan=12 *ngIf="dtpaymentDetails.length==0">No Data</tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <div class="col-md-2">
                  Total Records : {{lblrecordCount}}
                </div>
                <div class="col-md-3">
                  Total Amount Collected : {{lblTotAmuntCollected|number:'1.1-2'}}
                </div>

                <div class="col-md-3">
                  Total Amount Paid : {{lblTotAmountpaid|number:'1.1-2'}}
                </div>
                <div class="col-md-3"></div>
                <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="PaymentModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog custom_poup" style="width:85%;">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title PaymentHeader"><b>{{lblAgentName}}</b></h3>
            </div>
            <div class="modal-body">

              <div class="row" style="padding: 0;">
                <div class="form-group col-md-3  pull-right">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="txtviewpaymentsearch" placeholder="search" class="form-control ">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="col-md-1">Bookig Date</th>
                      <th class="col-md-1">Bookig Id</th>
                      <th class="col-md-2">Source</th>
                      <th class="col-md-2">Destination</th>
                      <th class="col-md-1">Distance(KM)</th>
                      <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span> Amount</th>
                      <th class="col-md-1"><span><i class="fa fa-inr" aria-hidden="true"></i></span>Agent Amount</th>
                      <th class="col-md-1">Paid Date</th>
                      <th class="col-md-1">Paid Through</th>
                      <!-- <span> <i class="fa fa-inr" aria-hidden="true"></i> {{lblAgentAmount}} /- </span> -->
                    </tr>
                  </thead>
                  <tbody class="TextSize" *ngIf="dtViewPaymentdetails!==undefined && dtViewPaymentdetails.length>0">
                    <tr *ngFor="let row of dtViewPaymentdetails|filter:txtviewpaymentsearch| paginate:{itemsPerPage: 5,currentPage: pageNo }">
                      <td class="col-md-1">{{row.BookingDate}}</td>
                      <td class="col-md-1">{{row.BookingID}}</td>
                      <td class="col-md-2">{{row.Source}}</td>
                      <td class="col-md-2">{{row.Destination}}</td>
                      <td class="col-md-1">{{row.Distance_KM}}</td>
                      <td class="col-md-1">{{row.TotalFare}}</td>
                      <td class="col-md-1">{{row.AgentComission}}</td>
                      <td class="col-md-1">{{row.PaidDate}}</td>
                      <td class="col-md-1">{{row.PaidThrough}}</td>
                    </tr>
                    <tr colspan=12 *ngIf="dtViewPaymentdetails.length==0">No Data</tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <div class="col-md-2">
                          Total Records : {{lblrecordCount}}
                        </div>
                       


                        <div class="col-md-4"></div>
                        <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>