<div class="cotainer-fluid">
<div *ngIf="httpLoader" class="httpSpinner"></div>

  <form #RegisterForm="ngForm">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div _ngcontent-c6="" class="row">
            <h2 _ngcontent-c6="" class="lable_h">Agent</h2>
          </div>


      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Agent Name &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" value="{{RegisterFormObj.AgentName}}" [(ngModel)]="RegisterFormObj.AgentName"
              name="AgentName" id="txtAgentName" (keypress)="service.fnAlphabets($event);" placeholder="Agent Name"
              #AgentName="ngModel" required>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Personal Mobile Number &nbsp;</label><span class="manditory">*</span>
            <input type="text" appNumber="true" class="form-control" [(ngModel)]="RegisterFormObj.PersonalMobileNo"
              name="MobileNo" id="txtPersonalMobileNo" placeholder="Personal Mobile Number" #MobileNo="ngModel"
              minlength="10" maxlength="10" (keypress)="service.fnNumbers($event);" [readonly]="isReadonly" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Official Mobile Number &nbsp;</label><span class="manditory">*</span>
            <input type="text" appNumber="true" class="form-control" [(ngModel)]="RegisterFormObj.OfficialMobileNo"
              name="OfficialMobileNo" id="txtOfficialMobileNo" placeholder="Official Mobile Number" #OfficialMobileNo="ngModel"
              minlength="10" (keypress)="service.fnNumbers($event);" maxlength="10" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Address1 &nbsp;</label><span class="manditory">*</span>
            <input class="form-control" name="Address1" id="txtAddress1" [(ngModel)]="RegisterFormObj.Address1"
              placeholder="Address1" #Address1="ngModel" required />
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Address2 &nbsp;</label>
            <input class="form-control" name="Address2" id="txtAddress2" [(ngModel)]="RegisterFormObj.Address2"
              placeholder="Address2" #Address2="ngModel" required />
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Address3 &nbsp;</label>
            <input class="form-control" name="Address3" id="txtAddress3" [(ngModel)]="RegisterFormObj.Address3"
              placeholder="Address3" #Address3="ngModel" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Bank AccountNo &nbsp;</label><span class="manditory">*</span>
            <input class="form-control" name="BankAccountNo" id="txtBankAccountNo" [(ngModel)]="RegisterFormObj.BankAccountNo"
              placeholder="Bank AccountNo" (keypress)="service.fnNumbers($event);" #BankAccountNo="ngModel" minlength="25"
              maxlength="25" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Vechile Name &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.VehicleName" name="VehicleName" id="txtVechileName"
              placeholder="Vehicle Name" minlength="80" maxlength="80" #VehicleName="ngModel" required />
          </div>
        </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Vechile No &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.VehicleNo" name="VehicleNo" id="txtVechileNo"
              placeholder="Vehicle No" minlength="25" maxlength="25" #VehicleNo="ngModel" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Aadhar No &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.AadharNo" name="AadharNo" id="txtAadharNo"
              placeholder="Aadhar No" (keypress)="service.fnNumbers($event);" minlength="12" maxlength="12" #AadharNo="ngModel"
              required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Pan No &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.PanNo" name="PanNo" id="txtPanNo"
              placeholder="Pan No" minlength="12" maxlength="12" #PanNo="ngModel" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Driving LNo &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.DrivingLNo" id="txtDrivingLNo" name="DrivingLNo"
              placeholder="Driving LNo" minlength="25" maxlength="25" #DrivingLNo="ngModel" required />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Payment Mode &nbsp;</label><span class="manditory">*</span>
            <select [(ngModel)]="RegisterFormObj.PaymentMode" id="ddlPaymentMode" class="form-control" name="PaymentType"
              required>
              <option [value]="0" disabled>Payment Type</option>
              <option value="Cash">Cash</option>
              <option value="OnLine Payment">OnLine Payment</option>
              <option value="Cheque">Cheque</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Bank Name &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.BankName" name="BankName" id="txtBankName"
              placeholder="Bank Name" (keypress)="service.fnAlphabets($event);" minlength="80" maxlength="80" #BankName="ngModel"
              required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Branch &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.Branch" name="Branch" id="txtBranch"
              placeholder="Branch" minlength="80" maxlength="80" #Branch="ngModel" required /></div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>IFSC Code &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.IFSC" name="IFSC" id="txtIFSC"
              minlength="20" maxlength="20" placeholder="IFSC Code" #IFSC="ngModel" required />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Description &nbsp;</label>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.Description" id="txtDescription" name="Description"
              placeholder="Description" #Description="ngModel" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Email Id &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.EmailID" id="txtEmailId" name="EmailID"
              placeholder="Email Id" minlength="80" maxlength="80" #EmailID="ngModel" required />
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label>Comission &nbsp;</label><span class="manditory">*</span>
            <input type="text" class="form-control" [(ngModel)]="RegisterFormObj.comission" id="txtcomission" name="comission"
              placeholder="Comission" (keypress)="service.fnNumbersWithDot($event);" minlength="5" maxlength="5"
              #comission="ngModel" required />
          </div>
        </div>

        <div class="col-md-1 col-sm-2 col-xs-4 mrgn30px">

          <input type="checkbox" [(ngModel)]="RegisterFormObj.IsActive" name="isActive" placeholder="isActive*" id="chkIsActive"
            #isActive="ngModel" required> Is Active

        </div>

      </div>
      <div class="shoose_img">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Aadhar Card</label>
            <input type="file" class="form-control input_file" (change)="AadharFileChange($event)" [(ngModel)]="RegisterFormObj.AadharDoc"
              name="AadharDoc" id="Aadhardocfile" placeholder="AadharDoc" required />
              <span class="input_file_span"> <i class="fa fa-upload fa-2x" (click)="UploadAadharfile();" title="Aadhar Upload"></i></span>
          </div>
          <div>
            <img class="img" [src]="imageAadharSrc || 'https://powerbonus.in/scripts/Img/noimagefound.png'" alt="your image">
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Driving Licence</label>
            <input type="file" class="form-control input_file" (change)="DLFileChange($event)" [(ngModel)]="RegisterFormObj.DrivingLCDoc"
              name="DLDoc" id="DldocId" placeholder="Driving Licence" required />
              <span class="input_file_span"> <i class="fa fa-upload fa-2x" (click)="UploadDLfile();" title="Driving Licence Upload"></i></span>
            </div>
          <div>
            <img class="img" [src]="imageDLSrc || 'https://powerbonus.in/scripts/Img/noimagefound.png'" alt="your image">
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Profile Photo</label>
            <input type="file" class="form-control input_file" (change)="ProfileFileChange($event)" [(ngModel)]="RegisterFormObj.ProfilePic"
              name="ProfilePic" id="ProfilePic" placeholder="Profile Picture" required />
              <span class="input_file_span"> <i class="fa fa-upload fa-2x" (click)="UploadProfilePicfile();" title="Profile Upload"></i></span>
          </div>
          <div>
            <img class="img" [src]="imageProfileSrc || 'https://powerbonus.in/scripts/Img/noimagefound.png'" alt="your image">
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 shoose_btn">
        <div class="shoose_btn">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
          <input type="button" *ngIf="registerobj.registerFormAndEditButtonShow!==undefined" class="btn comn_btn" value="Save"
            (click)="RegisterationSubmit(RegisterFormObj)">
          <input type="button" *ngIf="registerobj.registerFormAndEditButtonShow===undefined" class="btn comn_btn" value="Update"
            (click)="UpdateAgent(RegisterFormObj)">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
          <input type="button" class="btn comn_btn_cls" value="Cancel" (click)="CancelRegistrationForm()">
        </div>
      </div>
    </div>
   </div>
      </div>
    </div>
  </form>

  <br><hr><br>

  <div class="container-fluid">
    <div class="row">
      <div class="form-group">
        <div class="col-md-4 col-sm-6 pull-right">
          <div class="input-group">
            <input type="text" [(ngModel)]="txtSearch" maxlength="4" class="form-control" placeholder="Search">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
      </div>
      <br />
      
      <div class="row mrgn30px">
        <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <!-- <th>Agent ID</th> -->
                <th class="col-md-2">Name</th>
                <th class="col-md-2">Personal Mobile</th>
                <th class="col-md-1">Office Mobile</th>
                <th class="col-md-2">Vehicle </th>
                <th class="col-md-2">Vehicle No.</th>
                <th class="col-md-1">Aadhar No.</th>
                <th class="col-md-1">D.L. No.</th>
                <th class="col-md-1 text-center">IsActive</th>
                <th class="col-md-1 text-center">Options</th>

              </tr>
            </thead>
            <tbody *ngIf="registerobj.allAgentsData!==undefined && registerobj.allAgentsData.length>0">
              <tr *ngFor="let agent of registerobj.allAgentsData|filter:txtSearch | paginate:{itemsPerPage: 5,currentPage: pageNo }">
                <!-- <td>{{agent.AgentID}}</td> -->
                <td class="col-md-2">{{agent.AgentName}}</td>
                <td class="col-md-2">{{agent.PersonalMobileNo}}</td>
                <td class="col-md-1">{{agent.OfficialMobileNo}}</td>
                <td class="col-md-2">{{agent.VehicleName}}</td>
                <td class="col-md-2">{{agent.VehicleNo}}</td>
                <td class="col-md-1">{{agent.AadharNo}}</td>
                <td class="col-md-1">{{agent.DrivingLNo}}</td>
                <td class="col-md-1 text-center">{{agent.IsActive}}</td>
                <td class="col-md-1 text-center">
                  <span class="pull-left" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true" (click)="EditAgent(agent);"
                      title="Edit"></i></span>
                  <span class="pull-right" style="cursor: pointer; color: red;"><i class="fa fa-ban" aria-hidden="true"
                      (click)="deleteAgent(agent);" title="In Active"></i></span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="col-md-8"></div>
                  <div class="col-md-4">
                    <pagination-controls class="pagination" (pageChange)="pageNo = $event"></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
