

.httpSpinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: url(https://ez-kourier.com/images/bikeLoader.gif) center no-repeat #fff;
    /* background: url(http://ez-korier.com/images/HttpSpinner.gif) center no-repeat #fff; */
    opacity: 0.8;
}
.shoose_img{
    position: relative;
    left: 0; top: 0;
    width: 100%;
    margin: 30px auto;
}
.shoose_btn{
    position: absolute;
    right: 0; bottom: 10px;
    width: 50%;

}


.img {
    height: 200px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d8d7d7;border-radius: 5px;
    /* box-shadow: 3px 3px #d4d4d4; */
     margin-bottom: 15px;
  
}

.mrgn_top_165px{
    margin-top:165px;
}
.input_file{
    /* border: 1px solid #ddd; */
    WIDTH: 85%;
    /* padding-bottom: 29px; */
}
.input_file_span{
    cursor: pointer;
    MARGIN: 0;
    TOP: 29PX;
    POSITION: absolute;
    RIGHT: 0;
    WIDTH: 19%;
    TEXT-ALIGN: CENTER;   
}
.input_file_span i{
    color: #00b9f5;
}
@media (max-width: 480px){
.shoose_btn{ width: 100% !important; position: static; float: right;}
}
@media (max-width: 768px){
    .shoose_btn{ width: 60%}

}